[2019-08-08 10:16] kjetilhp opened #1 "syncDoc changed?"
Can't find any documentation regarding the issue but it seems like syncDoc now returns the docs id instead of the actual document as before, is this intended? and what are the correct way to get the document now? service.syncActive(id) and then query.getActive()?

[2019-08-11 16:11] GrandSchtroumpf commented on #1
Hello,
Akita-ng-fire follow the guideline of Akita for the [flow of data](https://netbasal.gitbook.io/akita/). With this in mind, data should always come from the query, and service is only here to connect with backend :
[code]
Or
[code]

But I think it make sense that `syncActive` and `syncDoc` return the document. I'll try to update that. Thanks for the feedback.

[2019-08-11 16:22] GrandSchtroumpf commented on #1
fix with https://github.com/dappsnation/akita-ng-fire/commit/08cf0d18c85d537bb38db546a4cfafe26c939aa7

[2019-08-11 16:22] #1 closed

[2019-08-14 08:22] ThierryDD opened #3 "Support for MultiActiveState"
Akita-ng-fire should support setting and syncing multiple active entities.

[2019-08-15 16:22] jmarbutt opened #4 "Enable Collection Group Queries"
It would be great to enable collection group queries for Firestore.

[2019-08-15 21:44] GrandSchtroumpf commented on #3
Fixed with https://github.com/dappsnation/akita-ng-fire/pull/5

[2019-08-15 21:44] #3 closed

[2019-08-16 14:52] xjuanc opened #6 "Support for Firebase RTDB"
It'd be great if we could sync stores not only with Firestore but also RTDB

[2019-08-17 08:06] GrandSchtroumpf commented on #4
Fixed by https://github.com/dappsnation/akita-ng-fire/pull/7

[2019-08-17 08:06] #4 closed

[2019-08-20 10:23] GrandSchtroumpf opened #8 "Add Transaction hooks for side effect on database"
Use case :
When adding a stakeholder to a movie, also add the movieId to the stakeholder.

How to :
- [ ] Update should always be in a transaction
- [ ] Create hooks on CollectionService to listen on specific actions

[2019-08-28 18:55] loicmarie commented on #8
:+1: I would like to have this feature too. AkitaNgFire is a great idea, but I don't think it is usable in prod without transactions. Without it, it's hard to make basic atomic entity-relationships operations. As stated above, cascading udpates are important, but I will add as well :

- Cascading deletions (user is deleted, so comments of user are deleted, tags of comment are deleted, etc)
- Casca

[2019-08-28 19:09] GrandSchtroumpf commented on #8
I agree this is a **must have**. I'll work on that asap. I think hooks like that should be enough :
- `onCreate(transaction, entity)`
- `onUpdate(transaction, entity)`
- `onDelete(transaction, entity)`

The best whould be to have a **simple way** to chain services hooks with a single transaction. But I'll need to update deeply the service to support that.
The doc says not to update the store yours

[2019-09-02 14:45] GrandSchtroumpf opened #9 "Add option between transaction and batch"
Right now all operation are transaction for safety reason, but it increases the amount of read.
Developer should have the option between batch and transaction for CRUD operations

[2019-09-03 09:44] #8 closed

[2019-09-03 09:44] #9 closed

[2019-09-03 12:25] GrandSchtroumpf opened #12 "Application fails if router service is not installed"
Library should not complain about Router Service if Subcollection is not used.
Might be a problem with barrel imports

[2019-09-04 18:05] loicmarie opened #13 "Error: inject() must be called from an injection context"
I am using `@angular/cli@8.2.4`, but the error happens as well in `8.0.1` (for me)

To reproduce it, I just had to follow the steps in "Getting started" section.
After `ng serve`, the build runs well but the console outputs :
`Error: CollectionService requires AngularFirestore`

But I am injecting `AngularFirestoreModule` in AppModule, and I imported it in the service as well. My code does not dif

[2019-09-06 07:50] GrandSchtroumpf commented on #13
Hey, thanks for reporting this error. Sorry for the delay, I'll take a look asap. If you have any good practice recommandation for error handling, please don't hesitate to point me good ressources, or provide a PR.

[2019-09-06 08:27] GrandSchtroumpf commented on #13
@loicmarie have you initialized your `AngularFireModule` as described [here](https://github.com/angular/angularfire2/blob/master/docs/install-and-setup.md#4-add-firebase-config-to-environments-variable) ?

[2019-09-06 09:31] loicmarie commented on #13
Yes, it is initialized as described in the doc. The app uses `AngularFire`
 since months, without any problem.

I just removed all globally/locally linked librairies (linked with `npm link`) and now creating a new angular with `akita-ng-fire` app works well (I am not able to reproduce the issue with steps above anymore). But strangely, the big app is still not working. It's pretty hard to isolate

[2019-09-06 09:39] GrandSchtroumpf commented on #13
You can try to delete `package.lock.json` and `node_modules` and run `npm install` again.
Also you may want to update `akita-ng-fire` to the latest version.

[2019-09-06 12:57] loicmarie commented on #13
I already tried it, with no success. I don't known what exactly happened, but for the moment I don't have the problem anymore. I suspect some sensitive parts of our app of having broken the DI. I will close this issue, until the problem comes back (should not happen).

[2019-09-06 12:57] #13 closed

[2019-09-06 14:17] loicmarie opened #14 "Allow to pass data to read/write hooks"
In the example :
[code]
It would be great to be able to pass options for cascading writing, like :
[code]
This way, we can cascade-create/delete composite entities, such as :

[code]
... and in service :
[code]

[2019-09-06 14:31] GrandSchtroumpf commented on #14
We could have something like :
[code]
And
[code]

Then you can do something like :
[code]

What do you think ?

[2019-09-06 14:32] #12 closed

[2019-09-06 14:52] loicmarie commented on #14
I think it would be a good feature. And yes, the object options format can be more cautious than my suggestion, to make future changes more easily backward retrocompatible.

[2019-09-06 15:22] GrandSchtroumpf commented on #14
Ok, I'll do that after I finish the Authentication service.

[2019-09-06 15:45] loicmarie commented on #13
I finally found out what happened, that was dumb. When using linked local library, we always put the library in an external project. But we found out in [this issue](https://github.com/angular/angular-cli/issues/9273) that it is normally not working (don't know why it worked until here with our other old librairies), and so the `inject()` method was not working.

I just put the npm linked librairi

[2019-09-11 14:30] loicmarie opened #16 "Add contribution workflow"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
We can develop on `akita-ng-fire` within the `akita-ng-fire` parent app, that is the lib demo too, by:

[2019-09-19 00:00] Jak3b0 opened #20 "Deleting a collection and recreating it with new data leads to dead entries in the local cache"
Hi, I posted this issue on the Akita GitHub but I was told that it might be an issue with this project. (see https://github.com/datorama/akita/issues/296)

## Current behavior

Deleting a collection directly in Firestore and recreating it with new data will leave the local cache with the previous data plus the new items.

## Expected behavior

Only the new items should be in the local cache.

## M

[2019-09-19 07:47] GrandSchtroumpf commented on #20
Thanks @Jak3b0 for the feedback.

I would recommand to use the [offline option](https://github.com/angular/angularfire2/blob/master/docs/firestore/offline-data.md) from `AngularFirestore` to persist data that are related to Firestore, and use Akita persistState for everything else (UI, form, ...).

We don't have access to firestore history of actions, so it means that I would have either to :
- Qu

[2019-09-19 08:41] ioaNikas opened #21 "Calling syncManyDocs with an empty array of ids doesn't return anything."
I'm using guards to subscribe/unsubscribe to my Firestore queries. Sometimes I need to override `sync()` in favor of custom sync that I'm calling in the guard, and then being redirected or not depending of the data in my store.

Here is an example :

**Service**
[code]

**Guard**
[code]

If my organization got no ids in `movieIds`, syncManyDocs won't return anything.

[2019-09-19 13:59] Jak3b0 commented on #20
Oh yes, it's true that they support it (and probably, more optimized yes 🙂).

I will give this a shot then! Thank you for this!

[2019-09-19 13:59] #20 closed

[2019-09-25 09:39] ThierryDD opened #24 "entity only contains id in update method of CollectionService"
The following code fails because wishlist.products in undefined:
[code]
On the console we get:
- `wishlist` as the full object: `{ id: "ahsdgfahsdgs", products: [...] }`
- `entity` containing only the `id`: `{ id: "ahsdgfahsdgs" }`

[2019-09-25 14:03] GrandSchtroumpf commented on #24
Should be fix on version 1.5.9 with this [bug fix](https://github.com/dappsnation/akita-ng-fire/commit/21fa6d80f91cfa7c1d408263fb136206d012d281#diff-fa4722d31ccd0800aeb5089a9c1c0da3R444)

[2019-09-25 14:03] #24 closed

[2019-09-25 14:04] #21 closed

[2019-10-06 20:40] Jak3b0 opened #31 "Error when querying Firestore when the document includes a reference to another document"
Hi,

I have a collection in Firestore that have a field of type `reference` (see https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentReference). My Akita store is derived from `EntityStore`, my query `QueryEntity` and my service `CollectionService`.

When loading the data, I get the following error (which I do not have if I use the AngularFire2 library directly):

[code]

Is t

[2019-10-08 09:26] ioaNikas opened #32 "New feature: beforeCreate hook to alter object before adding it"
### I'm submitting a...

[code]

I'm working on implementing akita-ng-fire on a pretty big project and some new features would be really nice to help it. One of them is a method that can be use before the `service.add()` to alter an object before adding it.

It should behave pretty much like `onCreate` hook that allows to perfom actions when the document is created. As the document reference doesn

[2019-10-09 18:02] avelow opened #33 "It looks like you're using the development build of the Firebase JS SDK"
I am getting this in my console since i use akita-ng-fire.

[code]

I will try to do a pull request to fix this by changing the import of firebae in the library

[2019-10-09 18:22] avelow commented on #33
https://github.com/dappsnation/akita-ng-fire/pull/34

[2019-10-09 18:22] avelow commented on #33
should be fixed in https://github.com/dappsnation/akita-ng-fire/pull/34

[2019-10-12 07:15] GrandSchtroumpf commented on #31
Hello, can you provide some code sample, or better a stackblitz project, for me to understand better what the issue is ?

[2019-10-16 17:44] GrandSchtroumpf commented on #33
Should be fixed in version `akita-ng-fire@1.5.13`.

[2019-10-16 17:44] #33 closed

[2019-11-13 13:14] ioaNikas opened #36 "Update with an array of entities"
## I'm submitting a...
[code]

## Current behavior
Native `update` from CollectionService takes either an id, an object, or an array of ids.

## Expected behavior
It would be really convenient if it could take an array of objects, this way we can update each one of them independently within the same `update` call.

[2019-11-13 15:53] ioaNikas opened #37 "getValue with an array of ids"
## I'm submitting a...
[code]

## Current behavior
We can call `getValue()`  with an id, a query, or empty if we want a snapshot of the whole collection.

## Expected behavior
We should be able to pass an array of ids to retrieve only a part of the collection.

[2019-11-14 09:08] GrandSchtroumpf commented on #37
Solved

[2019-11-14 09:08] #37 closed

[2019-11-14 09:08] GrandSchtroumpf commented on #36
Solved

[2019-11-14 09:08] #36 closed

[2019-11-19 12:59] Hugo-Hontans opened #38 "Functionality signout() of FireAuthService should reset the store"
- [ ] Reset the store when `signout()` is used
- [ ] Having an onSignout hook would be interesting to redirect the user when he disconnects

[2019-11-20 17:03] Hugo-Hontans opened #39 "Add the property emailVerified to FireAuthState"
Synchronize directly emailVerified with the store when we use `sync()` of FireAuthService.

[2019-11-21 08:39] #38 closed

[2019-11-21 09:06] GrandSchtroumpf commented on #39
fixed with #e9ab16e043d55c08d981ed9f67e6dbdc9c668e86

[2019-11-21 09:06] #39 closed

[2019-12-03 15:20] Hugo-Hontans opened #40 "Currently we can not update a list of objects using the CollectionService"
The update function doesn't work correctly. We can't update a list of objects. Only the update of one entity at a time works.

[2019-12-05 10:19] #40 closed

[2019-12-05 10:26] GrandSchtroumpf commented on #31
Feel free to reopen this issue if you're still facing this problem.

[2019-12-05 10:26] #31 closed

[2019-12-05 15:00] Hugo-Hontans opened #42 "fix awaitSyncQuery when the collection is empty"
When the collection targeted by awaitSyncQuery is empty, it never updates the store.
It seems that awaitSyncQuery never finish whereas that it should store an empty array.

[2019-12-10 13:36] GrandSchtroumpf commented on #42
Fix with commit 0c2fed4a0843aa05c37c100bf6506eba1420d581

[2019-12-10 13:36] #42 closed

[2019-12-11 15:37] Hugofromfrance opened #43 "ERROR TypeError: Cannot read property 'host' of undefined"
Hi,

I recently tried to use akita-ng-fire
I met this issue.

[code]

I followed this: https://dev.to/arielgueta/getting-started-with-akita-and-firebase-3pe2
I really don't understand why i face this issue.

If you have an idea i 'll appreciate.

I tried to user akita without akita-ng-fire, it works. As soon as i request firestore and try to set the store with response, i got this error.

Thanks.

[2019-12-12 16:11] Hugofromfrance commented on #43
Hi @GrandSchtroumpf I found the problem.

The problem occurs when I try to use syncCollection with documents that contain "reference" type fields. When I delete references from documents, everything works perfectly.

Do you know if this kind on field is ok with akita-ng-fire or with Akita ?

Thanks

[2019-12-12 16:16] GrandSchtroumpf commented on #43
Thanks for reporting. I've never used a reference object. How does it look like when you get it from `valueChanges()` ? Is is an object or a simple string ?

[2019-12-12 16:39] Hugofromfrance commented on #43
It is an object of type `DocumentReference`

[2019-12-12 16:43] GrandSchtroumpf commented on #43
My guess it's because `DocumentReference` is a class and Akita supports only flat object. You can read more about this :
https://netbasal.gitbook.io/akita/general/class-support

[2019-12-12 19:21] Hugofromfrance commented on #43
Thanks for the advice, il will try this way

[2019-12-19 16:58] Maxstgt opened #46 "Bug: unit test a service which inherit a CollectionService throws 'runTransaction'"
If you want to unit test a service which has an inheritance of CollectionService, the test might pass but you get this error:
[code]
one way of handling this error is to call the super function in the constructor with `super(store, null, db)`. db is type of `AngularFireStore`
# Steps to reproduce
- Create a service which uses the `update` function from the CollectionService.
- Try to test this fun

[2019-12-21 00:11] dylanwatsonsoftware commented on #32
Is this something different to the akitaPreAddEntity method hook that is already available in Akita? https://netbasal.gitbook.io/akita/general/store-middleware

[2019-12-21 16:42] dylanwatsonsoftware opened #47 "New feature: Allow a destroyed$ observable to be passed to syncCollection"
This would simplify the pattern of:
`this.orderService.syncCollection().pipe(takeUntil(destroyed$)).subscribe();`
to something like:
[code]

My initial implementation looks something like:
<pre><code>
  syncCollectionUntil(
    queryOrDestroyed: QueryFn | Observable<boolean>,
    destroyed$?: Observable<boolean>
  ) {
    let queryFn;
    if (isObservable(queryOrDestroyed)) {
      destroyed$ = qu

[2019-12-21 19:14] GrandSchtroumpf commented on #47
Hello, thanks for the suggestion.
Unfortunately this is something that I would like not to do. I tried it with an Observable `path$` parameter and it's a mess to manage, and will be remove in v2.0.0.
Using the default pattern makes things much cleaner and easier to maintain. You can create a utils for that in your app if you want :
[code]
And in your service:
[code]

[2019-12-23 11:40] dylanwatsonsoftware commented on #47
Fair enough, yeah I can see the optional, parameters thing getting messing quickly!

I found an alternative anyway, possibly a better pattern anyway. Funnily enough, its a Netanel Basal creation as well haha
https://github.com/ngneat/until-destroy

It allows you to just do:
[code]

Thanks!

[2019-12-23 11:40] #47 closed

[2019-12-23 16:02] dylanwatsonsoftware commented on #43
I think I accidentally reproduced your issue in https://github.com/datorama/akita/issues/354. I'll look at how I might be able extend akita-ng-fire to achieve my own nefarious aspirations this week if I can.

I think `akitaPreAddEntity` doesn't entirely solve my problems, as ideally I'd be able to create documents with DocumentReferences too. I'll have to have a think.

[2019-12-23 16:11] dylanwatsonsoftware commented on #32
Actually, looking at the collection service code, it looks like there is a preFormat method on CollectionService that you could override. The default implementation just takes an entity and returns it.

It _sounds_ like that's what you're looking for?

[2019-12-24 08:15] ioaNikas commented on #32
Hello, yes it's different from akitaPreAddEntity which performs modification on the entity before pushing it in the store. Wanted to do the same before pushing it to the database. As I talked with @GrandSchtroumpf , he showed me a CollectionService named `formatToFirestore` that you can override and that behaves the way I wanted.

Thanks for helping with my problem, nice to have people like you ar

[2019-12-24 08:15] #32 closed

[2019-12-27 07:11] dylanwatsonsoftware commented on #43
I've posted how I solved my issue here: https://github.com/datorama/akita/issues/354#issuecomment-569207708

Hopefully it helps!

[2020-01-26 17:36] rosostolato opened #50 "Missing batch.commit()"
If I'm not wrong, it seems that it's missing `await batch.commit()` on singup method. That's why it's not creating user profile when user registers with email.

https://github.com/dappsnation/akita-ng-fire/blob/69ca785a3dcc71b8b4bcc1edc57f75f5f342ac6f/projects/akita-ng-fire/src/lib/auth/auth.service.ts#L128

[2020-01-28 16:54] RicardoJBarrios opened #51 "Expose EntityStore.removeActive() in CollectionService"
## I'm submitting a...

[code]

## Current behavior

When a Guard is used to synchronize the active entity, as shown in the documentation, there are situations when you want be to be able to delete the active entity on `CanDeactivate`, for example, but the store's `removeActive`  method is not exposed in `CollectionService`, forcing a dirty trick like this:

[code]

## Expected behavior

To have s

[2020-02-17 20:39] celsoaguiar opened #54 "Runtime error when upgrading to alpha.28"
alpha.28 requires an upgrade of firebase npm, which I did to "7.6.1".
that requires the installation of @firebase/app (0.5.0 or 0.5.4 in my case).
The following error shows in the console and you cannot launch the app:

Uncaught TypeError: app.firestore is not a function at firestore.js:43

[2020-02-17 20:40] GrandSchtroumpf commented on #51
why not injecting the store in the guard ?

[code]

[2020-02-17 20:46] GrandSchtroumpf commented on #50
Thanks for reporting. This is not an issue anymore in versions 2.0.0-alpha.*.
I'll publish a RC version asap that should be stable enough.

[2020-02-19 00:45] rosostolato commented on #50
Will you recommend me to use the rc version in production or I need to wait a little bit more?

[2020-02-19 08:15] GrandSchtroumpf commented on #50
I think it should be fine. I should not change the code between rc and v2.0.0, mostly the documentation.

[2020-02-24 11:55] Benny739 opened #55 "SyncDoc & SyncActive for Collection Queries with 1 return value"
I'm using a url property in my docs for more beautiful routes. So to query my docs I always have to query a collection and set where equal to the url. Would it be possible to also supply a collection query to SyncDoc and SyncActive which always chooses the first element of the query?

[2020-02-24 12:02] Benny739 opened #56 "Alpha 28 - SyncManyDocs always pulls all Docs from firestore"
As far as I see, SyncManyDocs, will always load all docs from firestore. If I add Ids, it will reload all the documents, what is not very efficient. Just adding the new Ids to the store and keep the old listeners alive would be a more efficient solution in terms of database reads.

[2020-02-24 14:30] Benny739 opened #57 "Best Practice syncing single documents from multiple collections to store"
I have to sync single documents from multiple collections to my store. What is the best practice here? Should I create a feature / Entity Store for each collection and just have one document inside? Or can I create a global store and specify which part of the global state belongs to which doc?

[2020-02-24 16:00] celsoaguiar opened #58 "Auth is broken"
You can notice this by launching the sample app included in akita-ng-store and clicking "signin with google". you should get Display Name on the screen, due to "Welcome {{ profile.displayName }}" in template html, but 'profile' has not been populated in the store. check $$stores.auth, 'uid' and 'roles' are populated, 'profile' is undefined.

[2020-02-28 13:45] ex37 opened #59 "memory leak in syncWithRouter util"
https://github.com/dappsnation/akita-ng-fire/blob/v2.0.0/projects/akita-ng-fire/src/lib/utils/sync-with-router.ts#L24
This causes a memory leak, cause it's not refcounted, so the firebase connection will be kept alive, even on unsubscribe. Should be
[code]

[2020-02-28 13:49] ex37 commented on #56
I am preparing a new `DocumentService`, for the case one need to sync just a document and doesn't need an EntityStore. This will include it's own update, upsert, create, remove methods, as well as ability to update db with `firestore.FieldValue`. Hope that will solve your issue?

[2020-03-06 09:24] Benny739 opened #62 "CollectionGuard throws error with RouterStore in canDeactivate"
Version: 2.0.0-alpha.29

When working with the RouterQuery, collection guard throws an error, when route gets deactivated:

    at getIdAndPath (akita-ng-fire.js:45)

[code]

[2020-03-10 15:20] GrandSchtroumpf commented on #62
Hello, this happens when you don't provide a string value to you id. If the chapterId is undefined or null for example. You can easily try this hypothesis by doing :
[code]

[2020-03-10 15:25] GrandSchtroumpf commented on #58
Hello, sorry for the delay, could you specify the version ? I didn't manage to reproduce with the @latest version.

[2020-03-10 15:36] GrandSchtroumpf commented on #57
In akita there is no global store. Instead I would recommand to have a store per collection & combine them with the query.
If it happen that you do that a lot I would say that akita-ng-fire (and akita in general) might not be the best solution for you.

[2020-03-10 23:08] Benny739 commented on #57
Thx for your help, one store per collection is a good solution.

[2020-03-10 23:08] #57 closed

[2020-03-10 23:09] Benny739 commented on #62
This makes sense.

[2020-03-10 23:09] #62 closed

[2020-03-10 23:25] Benny739 opened #64 "syncCollection can show deleted docs"
It can happen that syncCollection shows deleted Docs. If we delete a doc on a different device and the store still has this in memory, the deleted data is not removed from the store.

I suggest to add a reset option to the sync options and if set to true, the store gets resetted before the first sync happens.

If you're willing to accept a PR I would implement this in the 2.0.0 branch.

[2020-03-11 09:06] GrandSchtroumpf commented on #64
Hello,
I don't understand how you ends up having deleted docs in the store while syncing. The service should listen on the "remove" event and impact the store in consequence.
I'm ok with the reset option, but not to set it at false, else you loose all the interest of `awaitAsync` in the guard.

[2020-03-11 10:00] Benny739 commented on #64
Hi,
this can happen when you're using the app on multiple devices at the same time or you have multiple users editing the same data, but not everyone is in sync.
Imagine an app, with 2 collections books and movies. On the first device you open books and then navigate to movies. Then you leave the browser open and switch to your mobile and delete a book there. The Books collection is still in the s

[2020-03-12 18:25] celsoaguiar commented on #58
it was with alpha 28

[2020-03-12 18:28] GrandSchtroumpf commented on #58
Is it still the case with verson alpha 29 ?
Did you override the methode "selectProfile" from FireAuthService ?

[2020-03-12 19:06] celsoaguiar commented on #58
well, I have not tested with that 29 version. I'll try update. I didn't have to override anything, I just started grabbing the data from another object, in "roles" I think, which is fullfilled by auth.service. It's basically the same data that would be in the "profile" object.

[2020-03-15 16:36] GrandSchtroumpf commented on #64
fixed with #70. Thanks for the PR.

[2020-03-15 16:36] #64 closed

[2020-03-16 00:06] Benny739 commented on #64
You're welcome. Any timeline for the next release?

[2020-03-16 05:59] GrandSchtroumpf commented on #64
I am waiting for another PR and I release RC. I hope today or tomorrow.

[2020-03-16 09:14] #46 closed

[2020-03-20 11:40] GrandSchtroumpf commented on #59
Can we close ?

[2020-03-20 11:51] #59 closed

[2020-03-20 19:44] celsoaguiar commented on #58
@GrandSchtroumpf, I was able to upgrade to version rc-1 and apparently no issues with auth. I noticed roles is null and profile is available

[2020-03-22 09:40] GrandSchtroumpf commented on #58
@celsoaguiar thanks for the feedback.
FYI, if you're working with the next version of @angular/fire there is a bug in version rc1, you'll need to switch to rc2 (akita-ng-fire@next).

[2020-03-22 09:40] #58 closed

[2020-03-22 09:49] GrandSchtroumpf commented on #55
Sorry, for the delay...
The syncDoc & syncActive are use `snapshotChanges` method of `AngularFirestore` which doesn't support the QueryFn. I would recommand you to create you own method :
[code]

[2020-03-22 09:49] #55 closed

[2020-03-22 09:50] GrandSchtroumpf commented on #54
Sorry, for the delay.
Is it still an issue with version rc.1 ? Else can I close ?

[2020-03-22 09:50] #51 closed

[2020-03-22 09:54] GrandSchtroumpf commented on #50
Hello, sorry for the delay, the rc1 version is finally out. If you are using the @next version of @angular/fire, you should use rc2 though (`npm install akita-ng-fire@next`).
I'll close this issue, don't hesitate to reopen if you still experience this issue.

[2020-03-22 09:54] #50 closed

[2020-03-23 00:27] celsoaguiar commented on #58
thanks, I'm using @ 5.2.1, same as you, haven't upgraded that.

[2020-03-23 00:29] celsoaguiar commented on #54
This seems to be gone, I'm at 7.6.1 and no issues like that on my app

[2020-04-04 00:14] DavMig opened #77 "Unable to set provider options"
Hello,

RIght now, it seems to be impossible to get the provider object and set custom parameters
For example, I'll would like to use one tenant only for Azure AD authentication, it is possible to set such parameter in Firebase.

[code]
src : https://firebase.google.com/docs/auth/web/microsoft-oauth

Is this something that will be planned for future releases ?

Thanks.

[2020-04-08 06:45] GrandSchtroumpf commented on #77
Hello,
We could include it in a future release yes. There is already a [method to create the provider](https://github.com/dappsnation/akita-ng-fire/blob/v2.0.0/projects/akita-ng-fire/src/lib/auth/auth.service.ts#L45). We should just accept the provider as [parameter of the signin method](https://github.com/dappsnation/akita-ng-fire/blob/v2.0.0/projects/akita-ng-fire/src/lib/auth/auth.service.ts#L2

[2020-04-13 12:02] DavMig commented on #77
Yes that would solve this issue , right now  I'm overloading  the `signin` method which is not elegant (but works).

Thank you.

[2020-04-13 12:04] GrandSchtroumpf commented on #77
It should be part of version 2.0.0-rc.3 now (tag `next`)

[2020-04-13 12:31] DavMig opened #79 "isNewUser property is unreliable when creating user in Firebase Console"
Hello,

When you create a brand new user in the firebase console (native login/password auth from firebase) and then you signin with that user, the profile is never created on the firebase collection.

The reason is that the property isNewUser is set to false even if the user has never logged in.
As a result the check [here](https://github.com/dappsnation/akita-ng-fire/blob/v2.0.0/projects/akita-n

[2020-04-14 07:42] Maxstgt commented on #79
Hello,
if I'm not mistaken but `isNewUser` is going to be set by angular/fire, so this seems to be an angular/fire issue?

[2020-04-14 07:44] #77 closed

[2020-04-14 07:45] #54 closed

[2020-04-14 07:46] Maxstgt commented on #43
Awesome, thanks!

[2020-04-14 07:46] #43 closed

[2020-04-24 12:45] fritzschoff opened #90 "update add method"
Could be a linting error. Error appears in the collection service, in the add method.
Error Message:
[code]
![image](https://user-images.githubusercontent.com/39312833/80213866-1f534f00-863a-11ea-9bfa-4b984ae42f5a.png)

[2020-04-29 06:21] #90 closed

[2020-04-29 06:38] fritzschoff opened #96 "Add storage service"
I guess we need it in the upcoming features in blockframes and I also need it for my private projects

[2020-04-30 10:07] #96 closed

[2020-04-30 10:10] fritzschoff opened #98 "use withConverter"
https://firebase.google.com/docs/firestore/query-data/get-data#custom_objects

[2020-05-08 05:22] architechcro opened #99 "Dynamic store question"
Hi,
I'm trying out akita-ng-fire and have a question regarding dynamic store and I'm not sure it can be used in my use case.
Use case involves using one store and two services - one http and one Firebase. If the entity is not available from the Firestore it will be fetched from http service. Http service fetches "master" data ( remote service ) and updates Firestore ( app database ).
It is basical

[2020-05-13 20:07] GrandSchtroumpf commented on #99
Hello,
I think there is a design issue here. It's not the job of the frontend to sync external data with the database. I would recommand seting up a webhook from your "master" data to Firestore. Or a simple cron that fetch the data every X time.
In any case this should be a server to server relationship.
I'll close but don't hesitate to reopen if I didn't answer your question.

[2020-05-13 20:07] #99 closed

[2020-05-16 21:15] randallmeeker opened #100 "Docs Broken for reset store"
This link does not work

https://github.com/dappsnation/akita-ng-fire/blame/master/doc/subcollection/api.md#L27

[2020-05-21 13:32] stepanic opened #101 "Removed/deleted properties in Firestore are not removed/deleted from the store"
`Add` and `update` properties in a specific Firestore document works perfectly but when I `remove` property from the Firestore document with (Firebase console browser) it stays in the store, which is Akita BUG.

`Add` and `remove` the whole document from the collection also works perfectly as expected.

How to reproduce the bug:
1. load data in the component with the `this.data$ = this.query.selec

[2020-05-21 14:33] stepanic commented on #101
This is the demo, please check when I delete property `name` from the Firestore document it doesn't delete in the Angular app powered by Akita `Query` and `SubcollectionService`.

But when I refresh/reload page property disappears.

![omOhhZD6AG](https://user-images.githubusercontent.com/315282/82565705-27d87000-9b7b-11ea-83c6-01d780556822.gif)

https://recordit.co/omOhhZD6AG

[2020-05-22 12:20] GrandSchtroumpf commented on #101
Hello,
Thanks for the report. We'll investigate that. Unfortunately we won't be able to look at this before next week. I hope it's not urgent on your side.

[2020-05-24 19:34] stepanic commented on #101
@GrandSchtroumpf it's not urgent, thank you.

In the meantime, I have upgraded manually to `v2.0.3` when I saw it is available as `latest` NPM version but the same issue still exists as previously reported on the version `v1.5.13`.

[2020-05-25 11:31] RemcoSimonides opened #102 "Support for AngularFire 6.0"
There are some breaking changes in [AngularFire 6.0](https://github.com/angular/angularfire/blob/master/docs/version-6-upgrade.md)

[2020-05-29 19:05] jgrossrieder opened #103 "this.fireAuth.auth.signInWithEmailAndPassword is not a function"
Hi,

I've a angular 9 app with akita.

In my login method, I do:
[code]

But i get an error:
[code]

Is the library incompatible with angular 9?

[2020-06-01 07:49] fritzschoff commented on #103
Hello, yes  this lib is compatible with Angular 9. Can you show me the authService service? Maybe the path is not correct

[2020-06-01 07:50] fritzschoff commented on #102
We are aware of that, thanks for notifying !

[2020-06-01 07:50] #102 closed

[2020-06-01 07:53] fritzschoff commented on #100
thanks for telling, gonna fix it asap

[2020-06-01 08:10] jgrossrieder commented on #103
it appears that my version of akita-ng-fire was not in 2.x, not sure why because I didn't specified the version when installing. anyway, this is solved.

Sorry for the issue.

[2020-06-01 08:10] #103 closed

[2020-06-01 08:12] #100 closed

[2020-06-06 13:27] fritzschoff commented on #98
https://github.com/angular/angularfire/issues/2291 wait for angular fire to support that feature

[2020-06-06 13:28] fritzschoff commented on #56
what is the status of this `DocumentService` ?

[2020-06-06 13:31] #16 closed

[2020-06-06 13:34] fritzschoff commented on #16
We are happy if you want to create one, but for this small lib, there is no need for it atm

[2020-06-17 09:28] #56 closed

[2020-06-17 09:28] fritzschoff commented on #56
reopen pls if still ongoing

[2020-06-17 09:57] fritzschoff commented on #79
Hey, checkout v2.0.3, you should have more context now!

[2020-06-19 14:23] timothyalcaide opened #111 "upgrade akita-ng-fire to akita v5"
When i would like to use akita-ng-fire with akita 5.0.0 i have an error
`
ERROR in ./node_modules/akita-ng-fire/__ivy_ngcc__/fesm2015/akita-ng-fire.js 39:30-42
"export 'StoreActions' was not found in '@datorama/akita'
ERROR in ./node_modules/akita-ng-fire/__ivy_ngcc__/fesm2015/akita-ng-fire.js 47:30-42
"export 'StoreActions' was not found in '@datorama/akita'
ERROR in ./node_modules/akita-ng-fire/

[2020-06-28 16:22] psoladoye-dev commented on #111
Any update on this issue?

[2020-06-29 07:27] fritzschoff commented on #111
I will have a look into it.

[2020-06-29 08:31] fritzschoff commented on #111
upgraded the lib to use akita v5. Let me know if that fixed the bug.

[2020-06-29 13:05] fritzschoff commented on #111
have to reopen, since I found an import bug in akita v5.1.0. Going to fix it asap

[2020-06-30 13:34] fritzschoff commented on #101
![image (1)](https://user-images.githubusercontent.com/39312833/86132363-12922200-bae7-11ea-8c46-26fbda42ec6f.png)
The new state and the old state are getting merged, that is why, you won't get an update if you delete something, you explicit need to specify the keys you want to delete. But we did a workaround for v3.

[2020-06-30 15:34] #101 closed

[2020-06-30 15:35] fritzschoff commented on #111
fixed with release v3

[2020-06-30 15:35] #111 closed

[2020-06-30 15:41] fritzschoff opened #117 "fix unit test"
its failing cause angular/fire dropped the firesettingstoken

[2020-07-01 07:37] fritzschoff opened #119 "keep order in store entity array when something gets altered"

[2020-07-03 10:56] GrandSchtroumpf opened #120 "CombineLatest doesn't emit when array is empty"
We should use `array.length ? combineLatest(...) : of([])` when using combineLatest because it never emits if the array is empty.
This happens here for example :
https://github.com/dappsnation/akita-ng-fire/blob/v3.0.0/projects/akita-ng-fire/src/lib/collection/collection.service.ts#L482

[2020-07-08 09:50] saifxx commented on #117
Can you please fix this issue?. I want to start my new product using akita-ng-fire.

[2020-07-08 09:52] fritzschoff commented on #117
what is blocking you? The library is still working, it is just the test are not running in the ci

[2020-07-08 09:54] saifxx commented on #117
![image](https://user-images.githubusercontent.com/29164221/86904933-cec49b80-c12a-11ea-92c1-8fe8a5569c4d.png)
Nothing is showing

[2020-07-08 10:00] saifxx commented on #117
Can you please provide a sample project with latest version of akita, firebase and akita-ng-fire?

[2020-07-08 12:05] fritzschoff commented on #120
fixed

[2020-07-08 12:05] #120 closed

[2020-07-08 12:05] fritzschoff commented on #117
which version of akita are you using? You can check here in the repo the example app. This has the latest versions

[2020-07-08 13:00] saifxx commented on #117
I have created the sample project at stackblitz: https://stackblitz.com/edit/angular-fvaf5r
And getting the same error here too: "Error: Cannot read property 'ignoreUndefinedProperties' of undefined".

[2020-07-08 13:27] fritzschoff commented on #117
I'm using my firebase settings here, for debugging reasons and it is working
https://stackblitz.com/edit/angular-tugkkc?file=src%2Fapp%2Fapp.component.ts
maybe there is something wrong with your firebase settings?

[2020-07-08 15:12] #117 closed

[2020-07-08 15:14] saifurrehmanx commented on #117
Ok I got the issue.
It's happened when I try to add reference field in document.
![image](https://user-images.githubusercontent.com/29164221/86936284-3b558f80-c157-11ea-9657-9a4c30c319ea.png)

My firebase settings was OK.

Updated Sample: https://stackblitz.com/edit/angular-fvaf5r

Please check and let me know. :)

[2020-07-08 15:26] saifurrehmanx opened #125 "Error: Cannot read property 'ignoreUndefinedProperties' of undefined"
It's happened when I try to add reference field in firestore document.
![image](https://user-images.githubusercontent.com/29164221/86937814-1feb8400-c159-11ea-82f9-88bba6f00c4c.png)

Sample: https://stackblitz.com/edit/angular-fvaf5r

I'm using the latest version of akita and akita-ng-fire.

[2020-07-08 15:50] fritzschoff opened #126 "mergeReferences config"
[code]

[2020-07-08 15:51] fritzschoff commented on #117
ah okay, you are working with references. I created an issue for that for better tracking #126

[2020-07-08 15:55] #125 closed, assigned to nobody

[2020-07-09 07:23] fritzschoff commented on #126
@saifxx so did a bit of research and a question popped in my mind. How do you think this document reference should be represented in akita? Cause what you get in the is just a simple [document reference ](https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentReference). You can query that by yourself in the [formatFromFirestore](https://github.com/dappsnation/akita-ng-fire/blob/

[2020-07-09 09:26] saifurrehmanx commented on #126
Yes you are right, we should not change document reference. But there is no other way than converting document reference to the id of the document.

Or maybe you can warn user in documentation that "You must have to change document reference to the id of the document in formatFromFirestore."

In my previous project, I'm already handling this situation in _fromFirestore_ by creating a new key with

[2020-07-09 09:37] fritzschoff commented on #126
I guess there are more then one way.
- Maybe you want to update a new store (no entitiy store).
- Maybe you want to update another enitityStore with the docRef.

For me, it seems the best way to let the user decide how to handle that docRef in the formatFormFirestore function. He can then run his own `runEntityStoreAction`  or  `runStoreAction`.
Want you might can have, is a flag in the `Collectio

[2020-07-09 10:08] saifurrehmanx commented on #126
Yes, that will be the best way.

[2020-07-09 10:10] fritzschoff commented on #126
you mind doing a PR if you really need it? ATM I'm a bit short on time and not sure when I can do it.

[2020-07-09 10:15] saifurrehmanx commented on #126
I'm interested to do PR, but I have never did this before. I don't know about GitHub too much. I will search on google for that. :)

[2020-07-09 10:17] fritzschoff commented on #126
clone the repo, checkout branch v3.0.0 and open up a branch from this branch and you should be good to go.

[2020-07-15 13:59] #119 closed

[2020-07-17 07:26] fritzschoff opened #129 "write some unit tests"

[2020-07-17 12:18] fritzschoff opened #131 "updating angular fire, since it is now compatible with anuglar 10"

[2020-07-28 09:11] neelz040 opened #132 "documention for collectionService path() seems off?"
source:  https://github.com/dappsnation/akita-ng-fire/blob/v3.0.0/doc/collection/service/config.md

It seems not possible for path() to return an Observable, only string !? Thx

    "akita-ng-fire": "^3.0.2",

[2020-07-28 13:01] fritzschoff commented on #132
Hello, yes, you are right. Thanks for telling. Going to fix that.

[2020-07-28 13:07] neelz040 commented on #132
I could use an Observable for the path() of collections. I'm using multiple agents for one app and depending on which agent is active I need different sub-collections to be sync'ed.

What would be your recommendation to do so?

[2020-07-28 13:46] fritzschoff commented on #132
Not sure to understand what do you mean by agents. You could try with the path observable, (going to implement that in the next minor version) or you can work with routes. Meaning sync different collection with the `CollectionGuard`

[2020-07-28 14:46] neelz040 commented on #132
@fritzschoff thx !! path observable will fix the 'workaround' I have now.

Agents in my case are parent collections which define a users roles etc.

[2020-07-29 08:52] fritzschoff commented on #131
https://github.com/angular/angularfire/issues/2526#issuecomment-665529251 still waiting for new release

[2020-07-29 09:25] fritzschoff commented on #132
@GrandSchtroumpf I saw you did some error handling if the path was an observable. Did you came to a conclusion that it would be a bad idea to have an observable?

[2020-07-29 09:30] GrandSchtroumpf commented on #132
Ah yes, the documentation is deprecated. I started with an observable path and it was a real pain to maintain and created a lot of unexpected side effects. I wouldn't recommend to support this. You usually want to use observable for subcollection, in this case it's better to create a helper method on `syncCollection` with the right options.

[2020-07-29 09:33] GrandSchtroumpf commented on #132
You can find out documentation about subcollection here :
https://github.com/dappsnation/akita-ng-fire/blob/v3.0.0/doc/cookbook/subcollection.md

[2020-07-29 09:42] fritzschoff commented on #132
okay, I will update the docs then

[2020-07-29 10:26] #132 closed, assigned to fritzschoff

[2020-07-29 16:59] TimVanMourik opened #135 "Incorrect store update after entity update"
**Type**
Bug

**Description**
I was playing around with your library and noticed that an after updating an entity, the new entity data appeared at the root level of my store instead of within the entity.

**Steps to reproduce**
* Subscribe to a (sub)collection
* Update an entity in the Firestore manually by for example adding a field `foo: "bar"` or by programmatically by `this.movieService.update

[2020-07-30 09:04] #129 closed, assigned to fritzschoff

[2020-07-30 10:08] fritzschoff commented on #135
thank you very much for reporting! merged with pr #134

[2020-07-30 10:08] #135 closed, assigned to nobody

[2020-07-30 12:20] TimVanMourik commented on #135
Thanks for merging so quickly! 😎 Just wondering, is this auto-published to npm?

[2020-07-30 13:28] fritzschoff commented on #135
nope but I will do now

[2020-07-30 13:32] fritzschoff commented on #135
@TimVanMourik your fix is now available at 3.0.3

[2020-07-30 13:35] TimVanMourik commented on #135
Thanks! I'll test ASAP 🎉

[2020-07-30 14:19] TimVanMourik commented on #135
Tested and working 🥇

[2020-07-31 07:43] #131 closed, assigned to fritzschoff

[2020-07-31 09:02] fritzschoff commented on #126
@saifxx you currently working on that?

[2020-07-31 11:58] saifurrehmanx commented on #126
@fritzschoff I'm not working on it.

[2020-08-25 15:35] RemcoSimonides opened #138 "Valuechanges with ids array return undefined if document doesn't exist"
When using valueChanges with a list of ids if one of the ids doesn't exist, it return undefined in the array.
Solution
[code]
https://github.com/dappsnation/akita-ng-fire/blob/3c9ac16fe974348239e33c452ea3f5780811979d/projects/akita-ng-fire/src/lib/collection/collection.service.ts#L477

[2020-08-25 15:42] fritzschoff commented on #138
Hey, I had this discussion with Pierre and he would expect it to be undefined, behavior-wise. Why do you think it is necessary for filtering undefined values in this lib?

[2020-08-25 18:09] wSedlacek opened #139 "`callFunction` is not part of the Public API"
https://github.com/dappsnation/akita-ng-fire/blob/3c9ac16fe974348239e33c452ea3f5780811979d/projects/akita-ng-fire/src/public-api.ts#L14-L26

`utils/callFunction` is not exported from the public API thus making it unaccessible.
The documentation for Calling functions also doesn't have this import in the code example.

[2020-08-25 18:47] RemcoSimonides commented on #138
@GrandSchtroumpf

[2020-08-25 19:20] GrandSchtroumpf commented on #138
This is the only case of `valueChanges` where you get undefined in the array. Also I'm sure most of developers, especially junior, would expect that. So it might takes time for a developer to understand why there are undefined values in the array. Best case scenario they take time to understand that. Worst case scenario they implement a nasty workaround.

[2020-08-26 07:32] fritzschoff commented on #139
Thank you for reporting, going to fix it asap!

[2020-08-26 07:33] #139 closed, assigned to nobody

[2020-08-26 07:37] fritzschoff commented on #138
closing this issue, since @RemcoSimonides agrees on the best case scenario.

[2020-08-26 07:37] #138 closed, assigned to fritzschoff

[2020-08-26 07:43] fritzschoff commented on #139
fix is available in 3.0.4

[2020-08-26 18:05] wSedlacek commented on #139
Thank you!

[2020-08-26 23:19] wSedlacek opened #141 "Feature Request: Type Safe functions."
In the latest update the `callFunction()` function was added to the public API.
This function as it stands is not Type Safe. I feel like we could go one step further and offer a `FunctionsService` that provides a Type Safe solution (particularly useful in mono repos)

Below is an example of what a service like this would look like.
[code]

It would be consumed like so.
[code]

Then the cloud funct

[2020-08-27 09:44] fritzschoff commented on #141
Hey, thanks for suggestion. I will look into it and have talk with @GrandSchtroumpf who is the owner of this lib.

[2020-08-27 17:06] wSedlacek commented on #141
Here is another example that supports an interfaces can just specify params with no return value (which from my experience tends to be most used use case)

Note: I have adjust the naming a bit to be more reflective of what each part actually does ie. `FunctionFactoryService`

[code]

[code]

[2020-08-30 15:23] randallmeeker opened #142 "valueChanges vs getValue and ID column"
It would appear that on a collection valueChanges (Observable) and getValue (Promise) are different in that getValue will put the document ID on the returned array object and valueChanges will not. Is this expected behavior?

[2020-08-31 14:04] fritzschoff commented on #142
Hey, will check it out next week. I'm off this week.

[2020-09-03 18:30] jaytonic opened #144 "this.fireAuth.auth.createUserWithEmailAndPassword is not a function"
Hi,

I've just followed most of your example + doc to setup the auth in my **ionic** project.

I've installed @angular/fire(6.0.2), akita-ng-fire(1.5.13), firebase(7.19.1), angular lib(10.0.0), ionic libs(5.0.0).

Here is my model:
[code]

Here is my query:
[code]

Here is my store:
[code]

And here is my service:
[code]

I've set the environment's firebase + initialized firebase in my app.module.

[2020-09-04 08:03] fritzschoff commented on #144
Why are you using version 1.5.13? The latest version is 3.0.4. try with that

[2020-09-04 10:48] jaytonic commented on #144
I didn't specify any version. it's what came when I did the NPM install. I upgraded, but now I've issues when running building:

[code]

[2020-09-04 11:14] fritzschoff commented on #144
You need to have the latest akita version. Something above v5

[2020-09-04 12:43] jaytonic commented on #144
I'm sorry, I'm coming from the .Net word and a bit new to this package management. I tried to run `npm update -g` but the package hasn't been updated.

Isn't there any version dependencies? Why when I installed, i didn't got the last version?

Now it seems to work thank you!

One thing though: any reason why this selector:  isLoggedIn$ = this.select((state) => !!state.profile); doesn't goes to tru

[2020-09-06 08:49] jaytonic commented on #144
@fritzschoff apparently, if I correctly understood, the formatFromFirestore of the service should call the createProfile of the model. but I've added some logs and still nothing, what is missing?

[2020-09-07 09:54] fritzschoff commented on #144
there are peer dependencies. Not sure why you didn't saw that in your console.
![image](https://user-images.githubusercontent.com/39312833/92374985-cbd13180-f100-11ea-81a7-ea37381062a6.png)

[2020-09-07 09:59] fritzschoff commented on #144
the formatFormFirestore calls what ever you want to be called. If you are talking about the AuthService in the example app. So you need to specify your own function in your project.

You can give your onSignin hook a paramter and work with the current logged in user.
![image](https://user-images.githubusercontent.com/39312833/92376109-61b98c00-f102-11ea-83ef-de3f5d442d5b.png)

[2020-09-07 10:08] fritzschoff commented on #142
you are absolutely right.
![image](https://user-images.githubusercontent.com/39312833/92376331-b65d0700-f102-11ea-80d2-2144d1f21315.png)
I will update the getValue method to be the `same` then the valuesChanges

[2020-09-07 10:21] #142 closed, assigned to fritzschoff

[2020-09-07 10:24] fritzschoff commented on #142
thanks @randallmeeker ! fix is available in 3.0.5

[2020-09-07 10:29] jaytonic commented on #144
@fritzschoff I'm not sure I understand correctly:

If those 2 methods already exists, I guess it's because they are called by aktia-ng-fire, right?

Do you know if there is a working example somewhere with those user+profile? Because the FireAuthState already declare the profile and everything, so I would expect that it's updated automatically when method like signin/signout?

[2020-09-07 10:50] GrandSchtroumpf commented on #141
Hmm I wouldn't create a full service for this, especially not for typing.
I would just improve the callFunction bind :
[code]
The code above is not 100% perfect (params become array & you need to specify the name in the angle brackets).
But it's a good base to find the right type interface.

[2020-09-07 13:15] fritzschoff commented on #144
![image](https://user-images.githubusercontent.com/39312833/92391258-9d614f80-f11c-11ea-95eb-7b3517010e95.png)
In the JSDocs you can see, that this function should be overriden. So you can specify what ever you want. But I will implement this function in the example app so you can see it

[2020-09-07 13:19] jaytonic commented on #144
@fritzschoff That would be awesome, because I clearly see how I could implemented the method, but I don't where I should call it.

[2020-09-07 13:21] fritzschoff commented on #144
in your service where you extend the ` FireAuthService<AuthState>`

[2020-09-07 13:23] wSedlacek commented on #141
After having time to reflect on this I think this might be an upstream issue and that a OR to make @angular/fire/funtions type safe may be better.

[2020-09-07 13:31] jaytonic commented on #144
Yeah, but I don't understand, why all those methods/Store properties are defined if akita-ng-fire doesn't call them in the base classes?

Why not calling just before https://github.com/dappsnation/akita-ng-fire/blob/1a32f1e5282d5dc5d6a5d354ff2dfddb99f27676/projects/akita-ng-fire/src/lib/auth/auth.service.ts#L286

Something like:
`this.store.update({profile =formatFromFirestore(cred.user) })`
(same

[2020-09-07 13:36] randallmeeker commented on #142
This is great. Thanks.

[2020-09-07 13:52] fritzschoff commented on #144
dont worry, mine neither. All good!

the base service defines these `hooks` like `formatFromFirestore`. So when you extend this base class you can override this hooks and work on the data like: switching from Javascript date into timestamp, for instance.

for the store loading stuff, this is what you need to do if you want to set the store in a loading state. So if the developer listens on the loa

[2020-09-07 14:00] jaytonic commented on #144
Yeah hooks are awesome, I don't argue about how usefull formatFromFirestore/toFirestore are usefull.

What I'm arguing is that this:

`this.store.update({profile =formatFromFirestore(cred.user) })`

should be in the base akita-ng-fire AuthService, it should not be required to call it from my extension of it. Don't you think?

[2020-09-07 14:10] fritzschoff commented on #144
can you give an example how you want to alter the data if you don't want to call formatFromFirestore in your `extension`?

[2020-09-07 15:19] jaytonic commented on #144
@fritzschoff But as you can see in my example:
If you have this in your AuthService(not the extension) at
`this.store.update({profile =formatFromFirestore(cred.user) })`

formatFromFirestore is still called, and in my extension I can decide to override this method(or not)

[2020-09-07 19:13] jaytonic commented on #144
@fritzschoff another example:

When you signout, it's your class that manage to clear the profile in the store:
https://github.com/dappsnation/akita-ng-fire/blob/82089c90824aeb4a9b00cbc348f721c4cecc260f/projects/akita-ng-fire/src/lib/auth/auth.service.ts#L300

But not on signin/signout(by the way, if I try to sign-in without having a sign-up first, I get an exception, so not sure when the `cred.ad

[2020-09-07 19:13] jaytonic commented on #144
maybe it would be easier for me to do a PR for you to see what I mean?

[2020-09-07 19:15] fritzschoff commented on #144
Yes, that would be good

[2020-09-07 19:45] jaytonic commented on #144
Sorry, the autosave formated the page, but the important part is in the `signin` method of #146
I'm certainly missing one part of the issue

[2020-09-08 10:26] fritzschoff commented on #144
I looked at your PR and will add some logic to the example app and test it. Should be done this afternoon CEST.
Thanks for the PR !

[2020-09-08 13:19] fritzschoff commented on #144
`this.store.update(this.formatFromFirestore(cred.user));` this line for instance won't work since `user` has many keys that are not related to the store, like the key xa that has some cryptic stuff init. But I will make a PR for the other added update functions

[2020-09-08 14:12] fritzschoff commented on #144
@jgrossrieder have a look at #147

[2020-09-12 14:44] xjuanc commented on #6
Any news on this?

[2020-09-14 06:32] GrandSchtroumpf opened #148 "AuthService onCreate doesn't pass ctx"
The method `signup` in AuthService doesn't provide the `ctx` reference to the `onCreate` :
https://github.com/dappsnation/akita-ng-fire/blob/v3.0.0/projects/akita-ng-fire/src/lib/auth/auth.service.ts#L240

For consistency I think it should be there. It can be used if one wants to pass data of the user to be created.

[2020-09-14 07:58] #144 closed, assigned to nobody

[2020-09-14 08:57] #148 closed, assigned to fritzschoff

[2020-09-15 08:15] hakimio opened #151 "Email/Password sign-up bug"
Steps to reproduce:
- Register new profile using email/password authentication
- Send email verification
- Verify email
- Try to sign-in (all the steps up to here should be done without reloading the app)

Result: After signing-in, the authentication state has the following data:
[code]

Expected result: the state should be updated correctly with correct value for `emailVerified` and `profile`.
I

[2020-09-15 08:54] fritzschoff commented on #151
Thanks for reporting, looking into it!
And yes you are right. isNewUser is only set to true when you "register" so to say.

[2020-09-16 07:28] hakimio commented on #151
@fritzschoff Just tested v3.1.2. Now when trying to sign-in, I get "Can not read property 'ref' of undefined" error:
![Stack trace](https://user-images.githubusercontent.com/768105/93305488-decdbb00-f7fe-11ea-94e1-69153ee5af6d.PNG)
![ref of undefined](https://user-images.githubusercontent.com/768105/93305512-e55c3280-f7fe-11ea-9530-75eacf64bc46.PNG)
![ref of undefined 2](https://user-images.github

[2020-09-16 07:29] fritzschoff commented on #151
Let me check

[2020-09-16 07:37] fritzschoff commented on #151
if I console log this.collection, ref is defined... I'm trying different syntax

[2020-09-16 08:01] fritzschoff commented on #151
new version is out. 3.1.3

[2020-09-16 08:01] #151 closed, assigned to fritzschoff

[2020-09-21 08:23] #79 closed

[2020-09-21 08:46] fritzschoff commented on #6
Yes, I'm thinking about it. You got any ideas how to represent the data in an akita store?

[2020-09-22 06:39] #141 closed, assigned to fritzschoff

[2020-09-24 08:18] xjuanc commented on #6
What I have in mind, which I ain't sure if it's the best way, is to specify the key name used in firebase, the unique id that represents each entity uniqueness in the firebase key and from there on, update everything as necessary.

[code]

[code]

The ideal thing here would be keep in sync the vehicles key with the store, therefore every change that occurs is automatically emitted through the quer

[2020-09-24 12:37] fritzschoff commented on #6
Thanks for the explanation. But one question still remains in my head. Why do you need akita for that?
`I mean even with firestore, sometimes you do update akita even thou you don't need it. Just listen on these IDs and if the user navigates to the next page you can forget these IDs again. `
But of course, this decision shouldn't be decided by akita ng fire.
Just to let you know, we where thinking

[2020-09-28 16:17] GrandSchtroumpf opened #155 "Wrong hook"
In `AuthService` method `update` calls hook `onCreate` instead of `onUpdate`:
https://github.com/dappsnation/akita-ng-fire/blob/v3.0.0/projects/akita-ng-fire/src/lib/auth/auth.service.ts#L213

[2020-09-28 17:44] fritzschoff commented on #155
Going to fix that tomorrow

[2020-09-30 07:52] #155 closed, assigned to fritzschoff

[2020-09-30 18:10] randallmeeker commented on #142
I finally was able to upgrade and I'm not seeing the changes, or possibly not understanding how it is supposed to be implemented. I was looking to have the ID column on the valueChanges method. But it is not. Does this mean is was never supposed to be on there and getValue was wrong?

[2020-09-30 19:41] fritzschoff commented on #142
Let me check tomorrow

[2020-09-30 19:42] xjuanc commented on #6
Sorry for the delay, been a rough week.

We don't really need akita nor akita-ng-fire, but we have many apps states handled with Akita and I'd like to continue having it with a kind of similar structure, we also get a huge advantage from cache and the way it handles entities underhood and how it updates it (Queries are also a breeze to work with).

Right now with the data we get from firebase, we

[2020-10-01 09:20] fritzschoff commented on #6
okay, I would love to support RTDB. I will have a look into it tomorrow. I never worked with RTDB so I might have some question for you on the way.

[2020-10-01 09:49] fritzschoff commented on #142
so I just checked and I get the ids in both functions... Maybe there is something else wrong here?

[2020-10-09 10:17] GrandSchtroumpf opened #159 "[Upsert] Remove id verification"
In this case :
[code]
The upsert method will think that the document exist because there is an id.
We should remove [this line](https://github.com/dappsnation/akita-ng-fire/blob/v3.0.0/projects/akita-ng-fire/src/lib/collection/collection.service.ts#L527).

[2020-10-12 07:38] #159 closed, assigned to fritzschoff

[2020-10-12 10:06] fritzschoff commented on #6
ref https://github.com/dappsnation/akita-ng-fire/tree/issue-6

[2020-10-28 12:04] mattbodman opened #161 "'StoreActions' was not found in '@datorama/akita'"
`ERROR in ./node_modules/akita-ng-fire/__ivy_ngcc__/fesm2015/akita-ng-fire.js 62:30-42
"export 'StoreActions' was not found in '@datorama/akita'
`

`@angular-devkit/architect       0.1002.0
@angular-devkit/build-angular   0.1002.0
@angular-devkit/core            10.2.0
@angular-devkit/schematics      10.2.0
@angular/fire                   6.0.3
@schematics/angular             10.2.0
@schematics/up

[2020-10-28 12:07] fritzschoff commented on #161
what is your akita version?

[2020-10-28 23:47] mattbodman commented on #161
Sorry, I should have included that.  It's 4.23.2

[2020-10-28 23:48] mattbodman commented on #161
Sorry I should have included that.  It's 4.23.2

[2020-10-29 08:34] fritzschoff commented on #161
No problem. There is peer dependency :
[code]
Not sure why you didn't get a error. Try to update to version 5 your akita version. There was a breaking change from version 4 to 5

[2020-10-29 08:34] #161 closed, assigned to nobody

[2020-11-06 16:03] alexis-mrc opened #162 "Upgrade for firebase 8"
Firebase 8 can now be used with ESM instead of CJS.
This would be great to upgrade akita-ng-fire to use it with Firebase 8 with the correct import.

https://firebase.google.com/support/release-notes/js

[2020-11-06 16:04] alexis-mrc opened #163 "Upgrade for Firebase 8 (CJS to EMS)"
Hello,

Firebase 8 can now be used with ESM instead of CJS.
This would be great to upgrade akita-ng-fire to use it with Firebase 8 with the correct import.

https://firebase.google.com/support/release-notes/js

I can try to do a pull requests if needed

[2020-11-06 16:04] #162 closed, assigned to nobody

[2020-11-06 16:04] alexis-mrc commented on #162
duplicated

[2020-11-07 10:02] alexis-mrc commented on #163
I did a PR  #165 to solve this issue

[2020-11-08 08:54] fritzschoff commented on #163
Thank you very much!

[2020-11-08 09:17] alexis-mrc commented on #163
Do you know when i will can use it ?

I want to check if tree shaking with firebase can significantly reduce my angular bundle size !

[2020-11-08 09:19] fritzschoff commented on #163
When you merge I can make a beta branch for you on NPM

[2020-11-08 09:43] alexis-mrc commented on #163
I don't see how to merge it

[2020-11-08 10:04] fritzschoff commented on #163
okay published a beta version. try to run `npm i akita-ng-fire@beta`

[2020-11-08 12:04] alexis-mrc commented on #163
I have tested it

Tree shaking doesn't seems to be that efficient (from 88.56KB to 81.13 KB for the Gzip size of the chunk using firestore + akita-ng-fire)

By the way, I still got an error :
`xxxx.module.ts depends on '@angular/fire/firestore'. CommonJS or AMD dependencies can cause optimization bailouts.`

I am not the only one getting it, i think a fix need to be done in @angular/fire to have a

[2020-11-09 08:45] fritzschoff commented on #163
Thanks for all the PRs. I guess I will release version 4 if we now have peer dependency for firebase 8. I merged your PR and will update the v4 branch

[2020-11-09 09:16] fritzschoff commented on #163
version 4 is now the `latest`. And your PR is merged. Thanks again for your work!

[2020-11-09 09:17] fritzschoff commented on #163
Will close this issue now but feel free to create a new one

[2020-11-09 09:17] #163 closed, assigned to nobody

[2020-11-11 16:11] randallmeeker opened #167 "Store is not getting Reset with Sync Option"
I have a guard setup to reset collection on sync, however restet does not appear to be working. The store does not reset when the sync starts and I have all the old records from the previous sync. Is this setup correctly to remove all the current records when starting a new sync?

v. 3.1.6

Store
[code]

Service
[code]

Guard
[code]

[2020-11-11 17:09] randallmeeker commented on #167
As far as I can tell the code does not actually reset the store when `reset: true` is set, but attempts to update the store with merging an empty array with the current state object???.

https://github.com/dappsnation/akita-ng-fire/blob/d1c33f8362667bd639da81e036b992100651c9c3/projects/akita-ng-fire/src/lib/utils/sync-from-action.ts#L18

Instead I would think that we should be running the akita's

[2020-11-12 19:32] fritzschoff commented on #167
Hey, thanks for reporting. There was a reason why we patched the store with an empty array rather then resetting it. But I can't remember why and obviously it doesn't work. I did a PR which now uses the reset func from akita

[2020-11-12 19:35] fritzschoff commented on #167
https://github.com/dappsnation/akita-ng-fire/pull/168
you can try it out with version v4.0.1 . The critical change for version 4 is that you need to use firebase v8. If that is a problem for you let me know, I can publish a different v3 for you.

[2020-11-12 19:37] #167 closed, assigned to fritzschoff

[2020-11-12 20:28] fritzschoff commented on #6
I finally got the time to have a look into rtdb. Maybe you can try it out and tell me what do you think about it. But don't expect too much since it is a very minimum version which doesn't support dynamic node names for instance.
`npm i akita-ng-fire@4.1.0-beta.1
`

[2020-11-14 01:02] randallmeeker commented on #167
I appreciate this. Currently I am stuck on V3 as you suspected.

[2020-11-14 09:31] fritzschoff commented on #167
I pushed version 3.1.8 . Let me know if it worked for you

[2020-11-18 14:34] luke-rogers opened #170 "Option to provide default value on syncActive"
I am in the process of adding a new sub collection and am using route guards to keep this in sync.

There is one route where I need to sync the parent and this new sub collection - basically the document in sub collection will have same id as one in parent, I'm just using it to reduce size of document in parent query as we can't selectively load data using firestore.

When loading the documents in

[2020-11-20 13:38] fritzschoff commented on #170
Hey, thanks for the issue. Will have a look asap.

[2020-11-23 11:38] fritzschoff commented on #170
Why don't you check before you are syncing if the sub collection exists? Or you use the startWith operator from rxjs to see if the second parameter is undefined and if so, you know that there is no sub collection. But I'm happy to review your PR if you already got a nice solution for your problem.

[2020-11-23 19:17] luke-rogers commented on #170
I ended up adding a `tap` onto the `syncActive` to update the store with the default value and active id if the sync returned null.

[2020-11-23 19:20] fritzschoff commented on #170
Alright! Closing the issue for now.

[2020-11-23 19:20] #170 closed, assigned to fritzschoff

[2020-11-26 18:32] mrvdot opened #171 "Missing exports from akita with latest versions"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When a new angular app has been freshly installed both with akita and akita-ng-fire it fails to compile

[2020-11-26 19:51] mrvdot commented on #171
Turns out this is simply due to the fact that `ng add @datorama/akita` installs old versions across the board. Upgrading to @datorama/akita@^5.2.6 (and updating the various submodules as well) solved the issue.

[2020-11-26 19:51] #171 closed, assigned to nobody

[2020-11-27 10:56] fritzschoff commented on #171
Hey, yes I guess they deprecated the schematics

[2020-12-23 14:04] #126 closed, assigned to fritzschoff

[2020-12-23 14:07] fritzschoff commented on #126
@saifxx  this feature will be available in 4.1.1

[2020-12-23 14:09] #98 closed

[2020-12-23 14:09] fritzschoff commented on #6
closing it for now

[2020-12-23 14:09] #6 closed

[2021-01-04 08:25] Disane87 opened #175 "RealTimeConfig not exported by akita-ng-fire"
I guys, I want to use your RealTimeService in my application and followed the guide to start woth angular, akita and firebase. Everything is working fine. But if I want to enable the `RealtimeService` the `RealTimeConfig` mentioned here (https://github.com/dappsnation/akita-ng-fire/blob/v4.0.0/doc/real-time-db/real-time-db.md) is not found:

![image](https://user-images.githubusercontent.com/95615

[2021-01-06 17:28] fritzschoff commented on #175
Hey, sorry, my mistake. Forgot to export the config. Now available in 4.1.1. Thanks for reporting!
Also if you missing any feature, please let me know!

[2021-01-06 17:28] #175 closed, assigned to fritzschoff

[2021-01-06 17:58] Disane87 commented on #175
Thank you! Stay healthy 🍀

[2021-01-11 20:02] Disane87 opened #176 "How to clear persist stores at logout?"
Hi,

I use your stores to communicate with my rtdb of firebase. Now since my application has many users, the chance somebody shares a computer with another user is relativly high.

For caching I've persisted the stores like akita stated:
https://datorama.github.io/akita/docs/enhancers/persist-state

On logout I want to clear all the stores with `clearStores`:
https://datorama.github.io/akita/docs/

[2021-01-11 20:06] fritzschoff commented on #176
Hey, welcome back. I would reckon to use the `clearNode()` function. Let me know if that is what you looking for, if not I can implement something tomorrow afternoon CET.

[2021-01-11 20:18] Disane87 commented on #176
I suppose `clearNode` wouldn't be enough since I have to subscribe to my `authService` in every store I'll write.
Preferably the `clearStorage` approach of akita will be a good way to got for me.

[2021-01-11 20:31] fritzschoff commented on #176
Right, you would also need to clear the storage. And Akita ng fire doesn't "care" about if you using the persist state or not, since it is just a bridge between firestore and your Akita Store. But I will double check that tomorrow.

[2021-01-11 20:43] Disane87 commented on #176
indeed, it seem so :D
Thank you in advance Max!

[2021-01-12 08:44] fritzschoff commented on #176
So I could implement the `clearStore()` in the clearNode function and could toggle with a boolean parameter if the dev want to call it. But it seems that this is not really the scope of this library.
Let me know if I missed something here. For now I will close this issue.

[2021-01-12 08:44] #176 closed, assigned to nobody

[2021-01-12 09:12] Disane87 commented on #176
Thank you! I imagine that in your library you listen for when I want to clear all stores via PersistState.clearStores. But I don't know if Akita provides an observable or something like that.

I just want to avoid that I have to do the clearing of the stores individually over all stores, in which I subscribe to the logout.

[2021-01-12 09:46] fritzschoff commented on #176
We don't really want to listen to that, cause I think the single source of truth is the database. And sometimes you want to clear your store of optional values. So if you get new data from the database the optional values don't persist. Akita is design to not purge key value pairs if the updated object doesn't hold them. There was an issue that someone said, that if we would remove a key in his fi

[2021-01-12 12:58] Disane87 commented on #176
Okay that explains it very well to me. Seems like your `clearNode` in every service, executed on logout, would be reasonable but very much boilerplate.

But there are downsides with the current approach:
Indeed, the database is the one and only single truth but on a device with multiple users (the possiblity is given even if actually many users have their own account on the device) this could lead

[2021-01-12 14:07] fritzschoff commented on #176
But isn't that in your responsibility as a developer to handle that, since you know most likely where this app is going to be used? This shouldn't sound like an accusation, I'm open thinking/questioning here.

I will create an issue about caching, this wasn't the in our focus for a long time.

[2021-01-12 14:10] fritzschoff opened #177 "Caching"
The question of caching appeared in issue #176 .
Question about caching, is this different in a RTDB then in Firestore?
Should be there an API that lets the developer decides how to handle cached data?
Example:
when rtdb service is used, and we want to clean up, how to reduce the code and clear all the nodes?

[2021-01-12 14:17] Disane87 commented on #176
I didn't take it as an accusation either, don't worry.
It is yes, since you can't predict anything at your point. But IMHO a developer convinient ability to clear all rtdb store would be prefered without forcing the dev to repeat the same code over and over, like in my example injecting the authService, listen to logout$ and after that `clearNode`.

My point is not the security at all, I guess I'v

[2021-01-13 18:54] mcroker opened #178 "FR: Expose entity metadata"
Is it possible to expose the object metadata through the akita entity store...

As I'm in danger of jumping to the solution, the challenge I have is starting a dynamic store for a subcollection before the parent collection is created fully...

Give a firestore structure of .. /{library}/books/{book}

I am:
* creating the library using the libraryService.add() function.
* listening on libraryQuery.

[2021-01-14 11:15] rlagkrdy opened #179 "Bundle always include realtime database."
Hi.

I'm only use firestore in my project.
But, after include reatime database, Bundle always include realtime database.
55kb increase based on gzip.
So I lowered the version to v.4.0.0

I am looking forward to solving this problem.
Thanks for reading my article.

[2021-01-14 13:13] fritzschoff commented on #178
Hey, it feels like the issue is more about firebase?

which sync() function you talking about?

[2021-01-14 13:16] GrandSchtroumpf commented on #178
Hmmm that's typically the kind of situation where I think using akita-ng-fire is overkill. I guess you want to do something like displaying a list of library with their books.
Personally I would go for a solution with a Pipe without using the store
[code]
[code]

Using multiple store might create side effects, and will make it super difficult to maintain in the long run.
My advice: use akita for l

[2021-01-14 14:18] #179 closed, assigned to nobody

[2021-01-14 14:19] fritzschoff commented on #179
created a second entry point, check if that fixes for you. Thanks for the issue!

[2021-01-14 14:43] mcroker commented on #178
Thanks for the response... library/{lib}/books/{books} is a good parallel to my data-model. Keeping the analogy, I actually go one further and have multiple child, and one grand-child subCollections.
[code]

The PipeCode above is elegant (I need to research pipes a bit better)...

My only concern is that the volatile entity is actually the book sub-collection, not the library collection (book adde

[2021-01-14 15:46] fritzschoff commented on #178
Well I guess I can implement a function that lets you operate on the meta data.

[2021-01-14 15:50] mcroker commented on #178
That would work... as would including metadata on the CollectionState() interface.

My design is a called into question by finding the race-condition described above... I'm mulling over my options...

The BookStore factory solution works nicely, but unsurprisingly it's the create() and destroy(0 cases that are causing challenge (e.g. stopping a store syncing when it's parent is deleted)

[2021-01-14 16:09] fritzschoff commented on #178
published a new version of 4.3.1@beta `npm i akita-ng-fire@beta`. Let me know your feedback.
Here you also can see how you could use it.
https://github.com/dappsnation/akita-ng-fire/pull/181/files#diff-142ed72bf40adaed9a9d4f5184e0a561d48c1868cfa30f951a10211dfcd2e56cR16

[2021-01-14 17:39] mcroker commented on #178
Firstly THANK-YOU for such a swift response, once again proving the OSS community is faster and often more helpful than commercial software...

The fix didn't actually do the job. Not because of it's implementation, but because I missunderstood the problem.  The problem I have is because there security rules rely on the content of the record, I can't even query it for metadata until firebase finis

[2021-01-15 08:01] fritzschoff commented on #178
Sorry to hear that! I would close this issue for know, but feel free to open a new issue or post something new here so I can reopen this issue.

[2021-01-15 08:01] #178 closed, assigned to fritzschoff

[2021-01-15 09:00] rlagkrdy commented on #179
@fritzschoff

I uploaded the version and tested it.
It's Perfect!!!

Thank you for solving the problem quickly.

[2021-01-16 00:46] randallmeeker opened #182 "syncCollection is syncing too many docs"
Trying to figure out the best way to troubleshoot this issue.

I have a store called accessLogs. You can see my setup below.

I sync the store with a filter. The initial documents from that sync show the correct records properly filtered, however, records that come in after the initial load will be outside the scope of the query. To repeat in a different way. The store is filled with records where

[2021-01-16 01:53] randallmeeker commented on #182
closing this issue. I wrote it too early. My apologies. I was untilDestroyed too early. Bad RXJS.

[2021-01-16 01:53] #182 closed, assigned to nobody

[2021-01-16 08:17] fritzschoff commented on #182
:)

[2021-01-16 11:52] #177 closed, assigned to nobody

[2021-01-25 10:37] Sergey1997 commented on #13
@loicmarie haha, I had the same issue, thanks for your investigation. I just wasted about 4 hours to find the cause of issue..

[2021-03-12 09:57] fritzschoff opened #186 "expose createId func through collection service"

[2021-03-12 09:58] fritzschoff opened #187 "memorize subscriptions for ids"

[2021-03-13 23:38] alexis-mrc opened #188 "Update angular version to 11 and akita 6"
Hi

I got WARN when building my angular app :

[code]

I am using akita-ng-fire `"akita-ng-fire": "^4.0.1"` with angular 11 and everything seems working great but i am not using everything of the library.
Is enough to update angular version in the package.json ?

I just saw tha akita released a new version (6.0.1) to remove dependency on tslib < 2
[code]

I think it would be great to update depend

[2021-03-15 09:16] fritzschoff commented on #188
Hey, thanks for letting us know. We will update this lib then to v5.
About the warning that requires the angular libs. What do you mean you are not using anything from the lib?

[2021-03-25 18:12] alexis-mrc commented on #188
For the warning, i am using angular >= 11

[2021-03-26 16:01] mark-at-pieces opened #189 "Change.type on doc within - formatFromFirestore, valueChanges, syncCollection"
Looking into a way to get these types of changes: [View changes between snapshots](https://firebase.google.com/docs/firestore/query-data/listen#view_changes_between_snapshots) within akita-ng-fire?

Any thoughts?

**Also**
Akita-ng-fire makes my life 10x easier. Y'all are awesome!

[2021-04-04 15:50] fritzschoff commented on #189
Sorry for the late response. If I understood your question correctly, you get the changes from the hooks. https://github.com/dappsnation/akita-ng-fire/blob/v4.0.0/projects/akita-ng-fire/src/lib/collection/collection.service.ts#L57
So you could check when something is added and then check again when you get something from valueChanges etc.

[2021-04-04 16:00] mark-at-pieces commented on #189
protected onCreate?(entity: EntityType, options: WriteOptions): any;
protected onUpdate?(entity: Partial<EntityType>, options: WriteOptions): any;
protected onDelete?(id: string, options: WriteOptions): any;

Are really awesome but these unfortunately are just write hooks, I was looking more for something like a read hook so I could filter respectively.
I can get these [https://firebase.google.com

[2021-04-06 08:44] fritzschoff commented on #189
Guess then we need a new hook, something like onSnapshotChanges?

[2021-04-06 09:21] #187 closed, assigned to nobody

[2021-04-06 23:45] mark-at-pieces commented on #189
That would be extremely helpful. Thank you for your time!

[2021-04-07 12:55] fritzschoff commented on #188
Hey I published version 5 now. Let me know if that fixes it for you. You need akita version 6 now.

[2021-04-07 13:00] fritzschoff commented on #186
closed with release v5.0.1

[2021-04-07 13:00] #186 closed, assigned to nobody

[2021-04-07 14:04] fritzschoff commented on #189
Hey @MD-Widman , I had a talk with @GrandSchtroumpf , which is the founder of this library and the said that this is not really in the scope of a collection service. Since the collection service should only care about functionalities that are in the scope of a collection or document. In the PR that I referenced above you can see I just re exported the functionality from AngularFire which is kinda

[2021-04-09 18:33] mark-at-pieces commented on #189
@fritzschoff thank you for you time

[2021-04-09 21:17] #189 closed, assigned to nobody

[2021-04-11 16:35] #188 closed, assigned to fritzschoff

[2021-04-13 21:24] randallmeeker opened #193 "Custom Key For Users when Using Auth"
I have previously implemented auth where it creates a `profile` in the `users` collection. Is there a way to utilize the users `email` address ad the `idKey` for this instead of the `uid`?

[2021-04-22 21:03] randallmeeker commented on #142
Following up on this

There and I don't think this is an easy fix

Basically, valueChanges() is just a passthrough, which does not return enough info to merge and ID on the field.

https://github.com/dappsnation/akita-ng-fire/blob/v5/projects/akita-ng-fire/src/lib/collection/collection.service.ts#L522

vs

https://github.com/dappsnation/akita-ng-fire/blob/v5/projects/akita-ng-fire/src/lib/collecti

[2021-04-23 08:09] fritzschoff commented on #142
thanks for coming back about that. Will have a look today into that

[2021-04-23 10:08] fritzschoff commented on #142
do you put your id inside of the document? Cause if you don't then yes you won't get an id back if you are using the valueChanges method. But if you would use the add function when adding something to a collection, the id will get merged with the new data.
I could overwrite it again the idKey to make sure that we include the id in the new data, but this can have a lot of side effects
![image](http

[2021-04-23 20:04] randallmeeker commented on #142
Unfortunately in this instance, the data is not being initially generated by my app. So the ID field does not exist on the document itself.

Just one of those hinky things where this library does so much out of the box, that I need to be explicit when working with other systems that are also working with the data that they need to put an ID field on the records.

We are early enough in this app th

[2021-04-25 20:15] randallmeeker opened #194 "syncWithRouter broken after latest fix?"
Is sync with router broken?

This change does not seem to match the type

https://github.com/dappsnation/akita-ng-fire/commit/dcf2281bcbee72cbab63cfd70fbbbc21fa349945

[code]

Additional context, here you can see a test setup with the following error

[code]

[2021-04-25 20:26] fritzschoff commented on #194
Thanks for letting us know. Will have a look tomorrow CET

[2021-04-25 20:45] fritzschoff commented on #193
Oh sorry missed that one. Will have a look tomorrow CET

[2021-04-27 09:43] fritzschoff commented on #193
![image](https://user-images.githubusercontent.com/39312833/116221316-cbe47700-a74d-11eb-9a83-a00a701c6ca1.png)
does that do the trick for you?

[2021-04-27 12:03] fritzschoff commented on #194
I don't have this type error. Also it builds fine...

[2021-04-27 12:08] #194 closed, assigned to nobody

[2021-04-27 12:09] fritzschoff commented on #194
Thanks for all the reporting! Hope that should do the trick, will release a new minor version soon

[2021-04-27 13:47] fritzschoff commented on #193
with the current version it isn't possible. You would need to have a flag or a custom function for the signup func. That gets the value from the user object from firebase and sets the wanted value as id. Also you would need to handle this specific case for the auth providers which at that point, would make sense to write your own little services

[2021-04-28 00:53] randallmeeker commented on #193
cool, thanks for the info. love this library

[2021-04-28 00:53] #193 closed, assigned to nobody

[2021-05-25 08:46] TokkeDev opened #200 "Angular 12 support"
With the release of Angular 12, it'd be lovely to see official support from akita-ng-fire 👌

[2021-05-25 08:48] fritzschoff commented on #200
Hey, thanks for reporting. Will have a look

[2021-05-25 09:12] fritzschoff commented on #200
published version 6. Let me know if there are any issues.

[2021-05-25 09:12] #200 closed, assigned to fritzschoff

[2021-05-26 09:26] neelz040 opened #202 "firestore rules request.auth always null after updates"
seems like in my firestore rules the request.auth is always null. This happend after some updates!? Is this a bug or did I miss important changes? Thank you !! :)

package.json After Update:

    "@angular/animations": "~12.0.1",
    "@angular/cdk": "^11.0.0",
    "@angular/common": "~12.0.1",
    "@angular/compiler": "~12.0.1",
    "@angular/core": "~12.0.1",
    "@angular/fire": "^6.1.5",
    "@

[2021-05-26 09:37] neelz040 commented on #202
let me clarify, I am able to access Cloud Firestore but my request.auth field is always null (even after login). Login seems to work fine, I am getting the firebase.User and idTokenResult/idToken objects in the frontend after auth.

The issue is that my rules allow only reads for signed in users (request.auth.uid != null) and this is always false. Removing this rule and I am getting my documents.

[2021-05-26 09:42] fritzschoff commented on #202
Hey, thanks for reporting. The package json you copied is just that one from the example app. That doesn't interfere with the library. Need to do my own research if there could be something different between these two updates

[2021-05-26 09:48] neelz040 commented on #202
Hey, thanks for the quick response. I will have a further look ! But the package json seems not to be the same as the example app?

example app uses

[code]

[2021-05-26 09:49] fritzschoff commented on #202
Ah you copied your own package json here in the first comment?

[2021-05-26 09:50] neelz040 commented on #202
Yes, sorry for the misunderstanding ! Both are mine (after the update and before the update)

[2021-05-26 13:34] neelz040 opened #203 "query selectAll() not triggered on adding new document for subcollections"
I noticed that for sub collections, when adding a new document it does not trigger the query subscription selectAll(). This results in that the frontend is not updated properly.

In the sub collection service I use:

[code]
In the component I do the following:
[code]
For root collections where the path is simply @StoreConfig({ name: 'collection' }) everything works as expected.

I am using "akita-

[2021-05-26 13:36] fritzschoff commented on #203
Hey, thanks for the report. Will have a look in the upcoming days

[2021-05-27 15:16] neelz040 commented on #203
So, not sure what happend yesterday but it appears to be working as expected today.

I will do some further testing and will get back to you.

[2021-05-27 15:24] fritzschoff commented on #203
Nice. Let me know the results

[2021-05-31 11:50] fritzschoff commented on #203
couldn't find any unusual. Will close this issue

[2021-05-31 11:50] #203 closed, assigned to fritzschoff

[2021-05-31 11:57] fritzschoff commented on #202
Hey @neelz040 , just had a look into it and it worked for me. I served the example application and wrote some rules about the movie collection.
![image](https://user-images.githubusercontent.com/39312833/120189826-16a75200-c218-11eb-8161-707c02c24b14.png)
If I didn't logged in before, I got redirected to create a movie. If I'm logged in, I can see three movies.
Is your error still persist?
(I remo

[2021-06-07 06:52] neelz040 commented on #202
@fritzschoff thanks for testing. I will test it this week again. I'll get back to you !

[2021-06-20 20:07] alexis-mrc opened #205 "Firebase 9 support"
Firebase 9 is currently and beta and support tree shaking
Angularfire 7 (in beta) support Firebase 9

it'd be lovely to be able to us akita-ng-fire and Firebase with tree shaking (even in beta, and most of the job would be done for the official release)

Thanks

[2021-06-20 20:43] fritzschoff commented on #205
Hey, thanks for the report. Could make a beta release on version 7. Firebase 9 is pretty different from version 8 right?

[2021-06-20 20:47] alexis-mrc commented on #205
the import are differents to make the tree shaking aviable

You can take a look here : https://firebase.google.com/docs/web/modular-upgrade

For exemple :
v8
[code]

v9
[code]

[2021-06-21 07:35] #202 closed, assigned to fritzschoff

[2021-07-06 08:13] TokkeDev commented on #202
Just a little FYI: I had the same issue and couldn't figure out what was wrong. Then I found this issue ([#4932](https://github.com/firebase/firebase-js-sdk/issues/4932)) from the firebase-js-sdk repo. So that's probably what happened here. It's fixed in version 8.7.0 of the firebase-js-sdk 👌

[2021-07-10 07:21] jaytonic opened #206 "How to sync only a subset of a collection?"
Hi,

I've a collection of documents where people can add documents, and add participants to a document.

I need my AAAAQuery/Service/Store to only applies to documents where my current angular fire auth user Id is contained in the dictionary of string "participants" of each object.

My understanding is that I should be able to call some "sync" method on the service, that will make a request with s

[2021-07-13 11:17] GrandSchtroumpf commented on #205
@avelow `akita-ng-fire` is based on [@angular/fire](https://github.com/angular/angularfire). We would update the version 9 when `@angular/fire` is updated too.

[2021-07-13 11:22] GrandSchtroumpf commented on #206
Best would be to do a simple query :
[code]

[2021-07-13 11:22] #206 closed, assigned to nobody

[2021-07-16 09:08] jaytonic opened #210 "Sub-sub-collection based on another state"
Hi,

I'm doing a free "scrum planning" tool, mostly to learn about akita, firebase and angular while still doing something usefull, in order to check if this is the framework I want to push at my work for our next angular app.

I will have the following structure on firebase:

[code]

So, currently, I've a `RoomsStore`. I've an `ActiveRoomGuard` that sync the active room when I navigate to  "https

[2021-08-27 12:43] alexis-mrc commented on #205
Hi,

Firebase 9 has been released and @angular/fire too.
I am eager to used tree shaking :)

Do you know when you think akita-ng-fire with the new version may be aviable ?

Thanks a lot !

[2021-08-27 12:52] GrandSchtroumpf commented on #205
We'll take a look at it in the coming weeks. But it's not in high priority for me right now.
You're welcome to open a PR if you want.

[2021-08-28 06:56] alexis-mrc commented on #205
I just take a look and I think and I don't use enough of akita-ng-fire to be able to update it. It's a really big update and I will just wait.
Thank you for your job on this library !

[2021-08-28 12:03] Disane87 commented on #205
Too bad this isn't working actually. Just wanted to dive into firebase with akita and now I have to downgrade manually :-(

[2021-09-14 08:51] pallehpetersen opened #216 "Incorrect OAuth provider when using Apple sign-in"
Hey, I noticed a small bug when attempting to use Apple sign-in using the FireAuthService.

When using the FireAuthService to sign in using OAuth, the Apple AuthProvider is created using "apple" and not "apple.com", so it does not work.

https://github.com/dappsnation/akita-ng-fire/blob/3d019b539147cc1185016dd4d0d8e997273fd8a7/projects/akita-ng-fire/src/lib/auth/auth.service.ts#L53
The line here s

[2021-09-14 19:31] randallmeeker commented on #210
You can use RoomsQuery inside this, same as any service. I think the question that is un answered is where you `activeStoryId` is being held.

[2021-09-14 19:37] randallmeeker commented on #205
FWIW I'm happy to jump in and see if I can do this over the next couple of weeks. Just want to make sure I'm not replicating work someone else has started. If there is a fork out there that has the work started let me know. Otherwise, I will this week.

[2021-09-14 19:41] alexis-mrc commented on #205
I did nothing, I wasn't confident on the big changes needed to be done.

I am really happy to read that someone will do it !

[2021-09-14 20:00] GrandSchtroumpf commented on #205
@randallmeeker thanks for offering to help on this. You can fork branch v6. You can open a draft PR to open a discussion on the implementation, and I can provide add comments on the code along the way if you need help.
Please tag me on the PR so I can get the notification :).

[2021-09-25 19:42] randallmeeker commented on #205
Thanks, I'm going to get started on this today (a lil late). Does the test suite work out of the box?

[2021-09-26 09:57] #216 closed, assigned to nobody

[2021-09-26 09:59] GrandSchtroumpf commented on #216
@pallehpetersen it has been fixed with version 6.0.5. Thanks for reporting.

[2021-09-30 08:51] alexis-mrc commented on #205
Thanks for the update

I saw that the update was done using the "compat" library

On https://firebase.google.com/docs/web/modular-upgrade, Firebase Team say :
About the compat libraries
There are two types of libraries available for Firebase Web SDK version 9:

Modular - a new API surface designed to facilitate tree-shaking (removal of unused code) to make your web app as small and fast as possibl

[2021-09-30 09:05] GrandSchtroumpf commented on #205
@randallmeeker I couldn't publish with Ivy, I've got this error message :
[code]
I removed [your changed](https://github.com/dappsnation/akita-ng-fire/pull/221/files#diff-0b280a445be167f54cd916c0718c952b8e0d4ca9621903d05eec25efd4c6ed6dL24), so I could publish. You can install it with `npm install akita-ng-fire@next` to try it out.

@avelow moving to angular/fire will change most of the code. And i

[2021-09-30 09:16] hakimio commented on #205
@GrandSchtroumpf since you are releasing a new major version, breaking changes are expected. I would vote for doing proper upgrade instead of this "compat mode" approach.

Also, full or partial "Ivy" compilation in libraries should not be enabled since it will break backwards compatibility with older Angular versions.

[2021-09-30 09:41] kjetilhp commented on #205
If this is not gone be maintained, a compat release now is better than waiting for a might never happen release, then we can upgrade firebase and angular/fire and migrate away from this if it is not going forward.

[2021-09-30 10:16] hakimio commented on #205
I'll try to do a proper upgrade to Firebase v9 sometime next week if nobody else is taking the task.

[2021-09-30 13:12] randallmeeker commented on #205
@hakimio I did the compat upgrade now because the full update for Firebase V9 is not feature complete with angular/fire. I assumed it was best to wait for angular/fire to finish full support before we attempted here. This allows everyone to update to Firebase v9 in the short term.

[2021-09-30 13:13] hakimio commented on #205
@randallmeeker what features are missing?

[2021-09-30 13:16] randallmeeker commented on #205
I don't know for sure, I'm just reading from the upgrade guide here
https://github.com/angular/angularfire/blob/master/docs/version-7-upgrade.md#upgrading-to-angularfire-70

[2021-09-30 13:19] randallmeeker commented on #205
@GrandSchtroumpf I get the IVY issue. The difference between building the app and publishing the app. Make sense.

[2021-09-30 13:26] hakimio commented on #205
@randallmeeker Maybe it's support for some obscure features like `Firebase App Check`. I think having proper integration is crucial and it's still worth trying to do proper migration.

[2021-09-30 13:41] randallmeeker commented on #205
@hakimio It looks like analytics features and a few other things are missing. I don't think anyone is saying to not continue with "proper" integration, and I have already done some of work for full v9, but that this is the best first step and unavoidable for people who want to upgrade to V9 sooner rather than later (like myself).

You speak as if we are saying that this is where we stop all develo

[2021-09-30 13:45] alexis-mrc commented on #205
Giving the "compat" version could be a great minor version for akita-ng-fire without breaking change and the "propre" integration could be the next major release.

I would like to help but i don't really know how to.

[2021-09-30 13:51] hakimio commented on #205
@randallmeeker Ok, sure. Let me know once you have pushed your changes to Github and I'll try to help with the migration.

@avelow I agree. The `compat mode` should be v6.1 not v7.

[2021-09-30 13:52] randallmeeker commented on #205
@hakimio @avelow due to the dependency requirements, compat was still a breaking change and requires v7. That was unavoidable.

[2021-10-06 08:10] hakimio commented on #205
@randallmeeker did you have time to share your changes?

[2021-10-06 21:09] randallmeeker commented on #205
@hakimio Here is my branch. So far I got through the collection service. But now think this is going to need a ton more work than I thought, and I honestly don't think angularfire is there yet.

https://github.com/randallmeeker/akita-ng-fire/tree/non-compat

I'll keep at it, but not in a meaningful way till I see more updates on the angularfire side probably.

[2021-10-07 07:49] hakimio commented on #205
@randallmeeker thanks for sharing your changes.
I have updated "Real Time" and "Auth" services.
Why exactly do you think "angularfire is not there yet? What's missing?

[2021-10-07 08:27] hakimio commented on #205
@randallmeeker you are still [importing from `compat`](https://github.com/randallmeeker/akita-ng-fire/commit/7462b5b578388dca3fa47a4549647f1a982cef10#diff-979cb4673442b774cbb781d7d2f7676e8943bb8a4b5d1deeda1acd7ef8f950b3R32). So, it's not event complete migration of collection service...

[2021-10-08 14:05] hakimio commented on #205
**Update on my progress**
DONE:
- Went through all the files and properly migrated everything to Firebase v9 modular SDK (it's quite a lot of work but doable)
- Demo app seems to be working as it should
- 29/31 collection service tests pass
- 5/5 `await-sync-query` tests pass

TODO:
- Fix 2 failing collection service tests
- Figure out how to run real-time database service tests which don't seem t

[2021-10-08 20:16] randallmeeker commented on #205
rock! sorry for not replying sooner. My main issue is the lack of documentation, but this is good news.

[2021-10-14 16:11] hakimio commented on #205
Just created a new PR (#223) to migrate to Firebase v9 modular SDK 🎉

[2021-10-15 07:45] kjetilhp commented on #205
@hakimio - somewhat off topic, but asking anyway since you have spent this much time with the codebase lately, Mr Basal have released a new state management framework now called Elf - have you (or anyone else here) put any thought into creating an elf-fire project based on the knowledge from this project?

[2021-10-15 07:49] hakimio commented on #205
@kjetilhp yeah, I saw the new project, but, at least for now, I don't have any plans to migrate or look into creating `elf-ng-fire`. This is a pretty big library and creating something similar for elf will require quite a bit of effort.

[2021-10-15 08:35] GrandSchtroumpf commented on #205
To be honest, I've stopped using the "akita" part of this lib since a while. It brought more complexity that it solved. At some point I think I'll publish a `ng-fire` base library with only the `FireCollection` and `FireAuth`, it might help built on top of it.

[2021-10-25 16:21] hakimio commented on #205
@kjetilhp @Disane87 @randallmeeker  @avelow
`7.0.0-beta.2` was just released with support for Firebase v9 modular SDK. Feel free to test it, ask questions and report any issues you find.

I have also updated [documentation](https://github.com/dappsnation/akita-ng-fire/tree/v7/doc), [README](https://github.com/dappsnation/akita-ng-fire/blob/v7/README.md) and [the example app](https://github.com/dap

[2021-10-27 20:03] randallmeeker commented on #205
Great I will check it out this weekend

[2021-11-08 11:07] hakimio commented on #205
`7.0.0-beta.3` has been released last week with the following changes:
- Fixed duplicate values emitted by `CollectionService` and `FireAuthService` because `rxfire` library used by `angularfire` has [changed and hard-coded default `includeMetadataChanges` option to `true`](https://github.com/FirebaseExtended/rxfire/blob/95ffa992e64fe97187ed11d9f775d97e8c3f9567/firestore/document/index.ts#L25). St

[2021-12-15 17:34] randallmeeker commented on #205
FWIW, been using this on a new project for a few weeks now and it appears fine so far props to @hakimio

[2022-01-26 14:16] GrandSchtroumpf commented on #205
Hello, I've just release version 7.0.0 as latest after PR from @hakimio.

To all of you I'm sorry it took that long for this release process. As written in the readme, I'm not actively maintaining this project anymore. As [previously mentionned](https://github.com/dappsnation/akita-ng-fire/issues/205#issuecomment-944108989), I personally don't work with akita anymore, and after working a lot with

[2022-01-26 15:22] randallmeeker commented on #205
good news. I also thank @hakimio for doing the heavy lifting. and @GrandSchtroumpf this library has been great for almost all my firebase projects. I will say they are not particularly large wonder if you could give an example of where you started to hit a wall.

I know I have some collections where I use the ngFirebase lib directly and don't bother creating a store

I will admit that the stand-al

[2022-01-26 16:02] hakimio commented on #205
@GrandSchtroumpf thanks for releasing new version. Can you also set main GitHub branch to `v7`?

[2022-02-05 22:39] randallmeeker opened #238 "Loading state does not work with syncing empty collection"
If I'm syncing a collection and it is empty the loading state will not revert to false.

The loading state does not turn false till we process individual documents. [HERE](https://github.com/dappsnation/akita-ng-fire/blob/0da7d7ecbd209b6501c222993a23bb12dd3768d5/projects/akita-ng-fire/src/lib/utils/sync-from-action.ts#L80)

It would seem to me that we could reset the store [HERE](https://github.co

[2022-02-06 12:35] hakimio commented on #238
Not sure I understand the problem. Do you mean that  [`collectionChanges`](https://github.com/dappsnation/akita-ng-fire/blob/0da7d7ecbd209b6501c222993a23bb12dd3768d5/projects/akita-ng-fire/src/lib/collection/collection.service.ts#L274) never emits anything when collection is empty? Are you setting [`syncOptions.loading` config](https://github.com/dappsnation/akita-ng-fire/blob/0da7d7ecbd209b6501c2

[2022-02-06 16:11] randallmeeker commented on #238
I am, but if the returned result of a sync collection is an empty array then loading never goes from TRUE to FALSE. It is set up to only turn the loading state FALSE in `syncStoreFromDocAction` which only processes individual items in the store. If an empty array is returned, then nothing is processed and the loading state stays TRUE.

[2022-02-06 17:37] hakimio commented on #238
Can you create a PR with a unit test reproducing the issue?

[2022-02-07 22:57] randallmeeker commented on #238
Sure, will see what I can throw together this week. :+1:

[2022-02-13 15:06] oliveti commented on #205
Hello,

Thank you for your hard work on this migration ! I'm running a quite small app with this library so I thought I was going to benefit a lot from this migration to the modular library (I only use auth + firestore + fileStorage).

I was actually quite surprised to see that my prod bundle is actually slightly bigger after upgrade (I removed all imports of compat library).

Before upgrade :
Ini

[2022-02-13 16:38] hakimio commented on #205
@oliveti the issue is that while Firebase v9 is tree-shakable, `akita-ng-fire` itself is not. It pulls pretty much everything in its classes and the bundle size increases because total size of Firebase increased as well.

EDIT: if you want a truly tree-shakable solution, you might want to try using vanilla `@angular/fire`  with `@ngneat/elf`.

[2022-02-28 13:10] Benny739 commented on #238
Any news here?

[2022-02-28 13:55] hakimio commented on #238
@Benny739 feel free to make a PR. Nobody seems to be working on this one.

[2022-03-01 02:40] randallmeeker commented on #238
@Benny739 @hakimio Wanted to get this done the 9 to 5 is more like 9 to 9 these days. I'm happy to help, but won't get back to this for another week or so when I hop back on the project I was doing this for. I never really used the loading states in this until I had a brand new project to do so and noticed them broken. I almost 100% I have a valid fix by must moving the setLoadingState higher up i

[2022-03-17 15:43] Benny739 commented on #238
Do you have an idea how to solve this? CollectionChanges doesn't emit anything when there is no data. We switched to CollectionData in our app and then we replace all data in the store every time we get new data, but this is not very beautiful.

There is already an open bug in rxfire: https://github.com/FirebaseExtended/rxfire/issues/55

[2022-03-18 20:45] randallmeeker commented on #238
Yes, my [original post](https://github.com/dappsnation/akita-ng-fire/issues/238#issue-1125047362) shows where a change could be made. I have been a bit underwater as of late, but should be able to work on this next week.

The [RxFire](https://github.com/FirebaseExtended/rxfire/issues/55) bug is interesting as I did not encounter than in this, but In my tests I don't know that I'm syncing with a qu

[2022-05-03 00:58] randallmeeker opened #244 "Create method uses set(), should use create()"
https://github.com/dappsnation/akita-ng-fire/blob/0da7d7ecbd209b6501c222993a23bb12dd3768d5/projects/akita-ng-fire/src/lib/collection/collection.service.ts#L738

[2022-05-10 00:37] Everduin94 opened #245 "Firestore Internal Assertion Failed When Testing CollectionService (Jest)"
I'm trying to test `CollectionService`, similar to the tests found here: https://github.com/dappsnation/akita-ng-fire/blob/v7/projects/akita-ng-fire/src/lib/collection/collection.service.spec.ts

When invoking the following functions in a Jest unit test
- `authService.signin(user, pass)`
- `service.syncCollection()`

I get the following exception:
[code]

An Example -- TagService can be any Collec

[2022-05-10 07:28] hakimio commented on #245
Most likely this is an issue with jest described in the following bug report:
https://github.com/firebase/firebase-js-sdk/issues/3653
~~Possible workaround here: https://github.com/facebook/jest/issues/7780#issuecomment-615890410~~

EDIT: workaround when using jsdom instead of node environment: https://github.com/firebase/firebase-js-sdk/issues/3096#issuecomment-827741103

[2022-05-10 07:38] hakimio commented on #245
Basically the issue here is with jest where the following assertion fails:
[code]
And it effects [this firestore code](https://github.com/firebase/firebase-js-sdk/blob/e15e8952b114d811965a5481699dc3694b4a9fdd/packages/firestore/src/remote/serializer.ts#L253). This has nothing to do with `akita-ng-fire`.

[2022-05-10 15:11] Everduin94 commented on #245
@hakimio -- Thank you for the input

Also sorry, I was trying to test CollectionService, but was initially guessing this was not specific to akita-ng-fire, as you mentioned. So I should have posted my question somewhere more applicable.

I tried the workaround you mentioned, which led me to upgrade to jest 28, since the above wasn't working for me.

This issue can be closed, I'm getting the follow

[2022-05-10 21:08] Everduin94 commented on #245
I mistakenly mentioned that `node` could not be used as the jest environment due to Angular TestBed. This is not true. My test had nested dependencies on classes that used document/router which caused those problems.

I was able to use `node` as my jest environment once I removed those dependencies and then was able to successfully test `CollectionService` - `syncCollection()` and `signin()`.

[2022-05-10 21:08] #245 closed, assigned to nobody

[2022-06-10 07:45] WolfSoko opened #246 "Support angular 14"
AFAIK angular 14 should work right away.
So please update the peer dependencies.

[2022-06-26 19:21] GrandSchtroumpf opened #247 "Looking for maintainer 🧐"
As mention in a [previous comment](https://github.com/dappsnation/akita-ng-fire/issues/205#issuecomment-944108989) I'm not using akita-ng-fire anymore. I'm not going to update the repo anymore.
Tag me in this issue if you want to take over the repo.

@hakimio or @randallmeeker maybe ?

[2022-06-26 20:53] hakimio commented on #247
Sorry, but I have recently moved on from Akita to NgNeat Elf and I am no longer interested in this library.

[2022-07-06 00:17] randallmeeker commented on #247
Sorry for not getting back sooner. Was on an extended holiday. I am not dropping this library anytime soon as it is in use in a number of production sites. I would be happy to take on a larger role.

[2022-07-06 08:50] GrandSchtroumpf commented on #247
@randallmeeker awesome.
I added you as maintainer of the repo. I'll add you to [npmjs.com](https://www.npmjs.com/package/akita-ng-fire) too, what's your username ?

[2022-07-06 18:00] randallmeeker commented on #247
sounds good. my npm is `randallmeeker`

Happy to help out.